<div class="container">
    <div class="row dashboard">You Are Here</div>
    
   
    <div class="form-fields">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 id="requestpassword">REQUEST FOR NEW PASSWORD</h2>
            <p id="resetpassword">Fill in your email below to request a new password. An email will be sent to the address below containing a link to verify your email address.</p>
        </div>
    </div>
        
    <div *ngIf="_response.status" [ngClass]="_response.alert">{{_response.message}}</div>
  <form #resetpasswordForm="ngForm" (ngSubmit)="resetpasswordFormSubmit(resetpasswordForm)">
         <div class="row" id="pass-change">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

              <label for="password">Password *</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <input type="password" name="password" [(ngModel)]="formData.password" minlength="5" maximum="10" #password="ngModel" required>
              <span *ngIf="password.invalid && (password.dirty || password.touched)">
              <span *ngIf="password.errors.required" class="bg-danger text-white error">Required Password.</span>
              <span *ngIf="password.hasError('minlength')" class="bg-danger text-white error">Minimum length 5.</span>
              <span *ngIf="password.hasError('maximum')" class="bg-danger text-white error">Minimum length 10.</span>
              </span>
            </div>
          </div>


          <div class="row" id="pass-change">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">

              <label for="cmfpassword">Confirm Password *</label>
            </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <input type="password" name="confirmpassword" validateEqual="password" [(ngModel)]="formData.confirmpassword" minlength="5" maximum="10" #confirmpassword="ngModel" required>
              <span *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)">
              <span *ngIf="confirmpassword.errors.required" class="bg-danger text-white error">Required Password.</span>
              <span *ngIf="confirmpassword.hasError('minlength')" class="bg-danger text-white error">Minimum length 5.</span>
              <span *ngIf="confirmpassword.hasError('maximum')" class="bg-danger text-white error">Minimum length 10.</span>
              <span *ngIf="confirmpassword.valid || confirmpassword.pristine" class="bg-danger txt-white error">Password does not Match</span>
            
            
            </span>
            
            </div>


          </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12"></div> 
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <input type="submit"  [disabled]="!resetpasswordForm.form.valid" name="send" value="SEND"  id="newpassword">
            </div>
        </div>
        </form>
 </div>
   
</div>