
<div class="Parent" id="layout-container">
  <div id="layout-banner-bg">
      <div class="container">
        <div class="" id="layout-banner">
            <div class="layout-banner">
              <!-- <div class="banner-img" style="background-image: url(assets/web_img/1-WITHOUT-TEXT.jpg);"></div> -->
              <div class="banner-content">
                  <h4 style="text-align: center;">WELCOME TO THE NIDARA-CHILDREN</h4>
                  <h4 style="text-align: center;">A PREMIUM EARLY CHILD DEVELOPMENT SYSTEM</h4>
                  <h4 style="text-align: center;">DISCOVER THE BEST START IN LIFE</h4>
                  <p><a class="video" href = "/youtube"><img class="alignnone size-full wp-image-3897 img-responsive aligncenter img-responsive " style="width: 40px;" src="assets/web_img/PLAY-ICON-1.png" alt="" srcset="assets/web_img/PLAY-ICON-1.png 180w, assets/web_img/PLAY-ICON-1-150x150.png 150w" sizes="(max-width: 180px) 100vw, 180px"></a></p>
              </div>
            </div>
        </div>
      </div>
  </div>
  <div class="container">
      <div class="row" id="explore-frist">
         <div class="home-slide h-slide-1 ">
            <div class="col-lg-6 col-md-6  col-xs-12 no-float ">
               <div class="slide-img">
                  <img src="assets/web_img/5-e1526458007149.png" alt="">
               </div>
            </div>
            <div class="col-lg-6 col-md-6  col-xs-12">
               <div class="slide-content">

                  <p style="text-align: center;">Early childhood, the period from birth to eight years old, is a time of remarkable growth with brain development at its peak. It aims at the holistic development of a child’s social, emotional, cognitive and physical needs in order to build a solid and broad foundation for lifelong learning and well being.</p>
                  <p style="text-align: center;">"This early child development system is a very useful tool for promoting normal development of children and will serve the community well. "<br><br>
                    - Dr. Balasubramanian, Medical Director,<br> Kanchi Kamakoti Childs Trust Hospital</p>
                  <div class="h-link">
                     <a class="s-explore" (click) = "descoverNidara()">DISCOVER NIDARA-CHILDREN</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" id="explore" #sectionFirst>
         <div class="home-slide  h-slide-1">
            <div class="col-lg-6 col-md-6  col-xs-12  no-float">
               <div class="slide-img">
                  <img src="assets/web_img/80599506_l-1-e1526458256992.jpg" alt="">
               </div>
            </div>
            <div class="col-lg-6 col-md-6  col-xs-12">
               <div class="slide-content">
                  <h4></h4>
                  <h2>HEALTH &amp; WELL BEING</h2>
                  <p style="text-align: center;">A high performing child needs a whole child approach that includes solid brain, body and emotional development.<br>
                     We help your child form daily routines, get the right nutrition, do yoga and develop social milestones.
                  </p>
                  <div class="h-link-button">
                     <a (click) = "pageLoardDoen () "><button>GET STARTED</button></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" id="">
         <div class="home-slide  ">
            <div class="col-lg-6 col-md-6  col-xs-12  ">
               <div class="slide-img">
                  <img src="assets/web_img/15072812_l-e1526458320974.jpg" alt="">
               </div>
            </div>
            <div class="col-lg-6 col-md-6  col-xs-12">
               <div class="slide-content">
                  <h4></h4>
                  <h2>PERSONALIZED LEARNING</h2>
                  <p style="text-align: center;">Every little child is precious and unique. Learning is personal.<br>
                     We help them to learn in their own way by personalizing your child’s learning experiences at their own pace ability as per the most rigor standards set by professional organizations in the United States and Europe.
                  </p>
                  <div class="h-link-button">
                     <a (click) = "pageLoardDoen () "><button>GET STARTED</button></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" id="">
         <div class="home-slide  h-slide-1">
            <div class="col-lg-6 col-md-6  col-xs-12  no-float">
               <div class="slide-img">
                  <img src="assets/web_img/Nidara-Children-Web-3.png" alt="">
               </div>
            </div>
            <div class="col-lg-6 col-md-6  col-xs-12">
               <div class="slide-content">
                  <h4></h4>
                  <h2>INTEREST EXPLORATION</h2>
                  <p style="text-align: center;">Every child has a talent that is inherent in them. Help your child explore their interests and nurture their curiosity..<br>
                     We give your little one an opportunity to explore various themes to begin their exciting journey.
                  </p>
                  <div class="h-link-button">
                     <a (click) = "pageLoardDoen () "><button>GET STARTED</button></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" id="">
         <div class="home-slide  ">
            <div class="col-lg-6 col-md-6  col-xs-12  ">
               <div class="slide-img">
                  <img src="assets/web_img/4-e1526458484353.png" alt="">
               </div>
            </div>
            <div class="col-lg-6 col-md-6  col-xs-12">
               <div class="slide-content">
                  <h4></h4>
                  <h2>SPEND QUALITY TIME</h2>
                  <p style="text-align: center;">Fill your little child’s early years with love.</p>
                  <p style="text-align: center;">With our daily parent tips based on your child’s daily session with Nidara engage with your child meaningfully.</p>
                  <div class="h-link-button">
                     <a (click) = "pageLoardDoen () "><button>GET STARTED</button></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row" id="">
         <div class="home-slide  h-slide-1">
            <div class="col-lg-6 col-md-6  col-xs-12  no-float">
               <div class="slide-img">
                  <img src="assets/web_img/3-e1526458544383.png" alt="">
               </div>
            </div>
            <div class="col-lg-6 col-md-6  col-xs-12">
               <div class="slide-content">
                  <h4></h4>
                  <h2>TRACK DEVELOPMENT</h2>
                  <p style="text-align: center;">Raising children as per their milestones is important.<br>
                     Keep track of how your child is doing health wise, how they are learning and what interests they are exploring.
                  </p>
                  <div class="h-link-button">
                     <a (click) = "pageLoardDoen () "><button>GET STARTED</button></a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container">
   <div class="row" id="layout-two-column">
      <div class="home-slide">
         <div class="three_img"></div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="layout-heading text-center">
               <h2>HOW IT WORKS</h2>
            </div>
         </div>
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4  col-xs-12 layout-impact-on-india-row">
               <div class="layout-heading text-center layout-impact-on-india-title">
                  <h3>1</h3>
               </div>
               <div class="layout-mrc-content text-center layout-impact-on-india-content">
                  <h3 style="text-align: center;">SIGN UP</h3>
                  <p style="text-align: center;">Get started online</p>
               </div>
            </div>
            <div class="col-lg-4 col-md-4  col-xs-12 layout-impact-on-india-row">
               <div class="layout-heading text-center layout-impact-on-india-title">
                  <h3>2</h3>
               </div>
               <div class="layout-mrc-content text-center layout-impact-on-india-content">
                  <h3 style="text-align: center;">USE DAILY</h3>
                  <p style="text-align: center;">Watch your child complete our Guided Sessions daily</p>
               </div>
            </div>
            <div class="col-lg-4 col-md-4  col-xs-12 layout-impact-on-india-row">
               <div class="layout-heading text-center layout-impact-on-india-title">
                  <h3>3</h3>
               </div>
               <div class="layout-mrc-content text-center layout-impact-on-india-content">
                  <h3 style="text-align: center;">WATCH THEM GROW</h3>
                  <p style="text-align: center;">Engage with your child for atleast 15 minutes with our powerful dashboards and daily tips and own your child’s development.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="container" id="downsection">
      <div class="col-md-12 col-md-12 row " id="layout-two-column">
         <div class="two_img"></div>
         <div class="two_img_row">
          <div routerLink="/girl" class="col-md-6 col-lg-6  col-img">
            <div id="">
               <img src="assets/web_img/Nidara-Children-Web-1.jpg" alt="">
            </div>
            <div class="col-md-12 col-lg-12 text-center">
               <h3>GIRL</h3>
               <p><span class="get-start" > GET STARTED </span></p>
            </div>
         </div>
         <div routerLink="/boy" class="col-md-6 col-lg-6  col-img">
            <div id="">
               <img src="assets/web_img/15072812_l-e1526458320974.jpg" alt="">
            </div>
            <div class="col-md-12 col-lg-12 text-center">
               <h3>BOY</h3>
               <p><span class="get-start" > GET STARTED </span></p>
            </div>
         </div>
         </div>
      </div>
   </div>
</div>
</div>
