
<div class="col-md-12 col-lg-12">
    <div class="col-md-12 col-lg-12 page-header text-center">
      <h2>GREAT!   WE ARE READY TO START AT THE SCHEDULED TIME.</h2>
    </div>

    <div class="col-md-12 col-lg-12 button-col">
      <div class="col-md-6 col-lg-6 text-center">
        <div class="but-wight" (click)="quickstart()">
            NC QUICK START GUIDE
        </div>
      </div>
      <div class="col-md-6 col-lg-6 text-center">
        <div class="but-black" (click)="dashboardfunction()">
          OK
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 page-header text-center">

    </div>
  </div>
