<section class="section breadcrumb-section">
    <div class="container">
    <div class="row">

    <div class="col-lg-12">
     <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
     <ul>
     <li>YOU ARE HERE:</li>
     <!-- Breadcrumb NavXT 5.7.1 -->
   <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home." href = "/Home" hrefActive="active" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
   <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">Personalized Learning</span><meta property="position" content="2"></span></li>
       </ul>
    </div>
    </div>

    </div>
    </div>
    </section>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="homeBanner">
        	<img src="assets/web_img/Nidara-Children-For-Educators.png" alt="">
        </div>
    </div>
</div>
<div class="row" id="">
<div class="home-slide h-slide-1">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-float">
    	 <div class="slide-img">
                   <img src="assets/web_img/7.jpg" alt="">
                </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    	<div class="slide-content">
            <div class="extraPadding"></div>
            <h2>MAKE LEARNING MEANINGFUL</h2>
            <p>Give focused attention to your child’s learning<br>
and watch them bloom.</p>
		            <div class="h-link"><br>
            <a class="s-explore" (click) = "descover ()" onclick="smoothScrollToContent(this)">EXPLORE HERE</a>
            </div>
			        </div>
    </div>
</div>
</div>
<div class="row" id="explore">
<div class="home-slide ">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
    	 <div class="slide-img">
                   <img src="assets/web_img/8.jpg" alt="">
                </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    	<div class="slide-content">
            <div class="extraPadding"></div>
            <h2>PERSONALIZED LEARNING</h2>
            <p>Based on years of understanding of what makes learning meaningful to each child, Nidara personalizes your child’s learning experiences through our guided system. Additionally, Nidara learning experiences are uniquely tailored to each child, based on their needs, interests and approach to learning through adaptive learning.</p>
		            <div class="h-link-button">
            <a (click) = "downPage ()" class="go-to-get-now"><button>GET NOW</button></a>
            </div>
			        </div>
    </div>
</div>
</div>
<div class="row" id="">
<div class="home-slide h-slide-1">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-float">
    	 <div class="slide-img">
                   <img src="assets/web_img/9.jpg" alt="">
                </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    	<div class="slide-content">
            <div class="extraPadding"></div>
            <h2>ADAPTIVE LEARNING</h2>
            <p>Our adaptive learning system adjusts itself automatically to suit your child’s learning abilities and pace making learning fun and boosting their -confidence levels.</p>
		            <div class="h-link-button">
            <a (click) = "downPage ()" class="go-to-get-now"><button>GET NOW</button></a>
            </div>
			        </div>
    </div>
</div>
</div>
<div class="row" id="">
<div class="home-slide ">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
    	 <div class="slide-img">
                   <img src="assets/web_img/13.jpg" alt="">
                </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    	<div class="slide-content">
            <div class="extraPadding"></div>
            <h2>GUIDED LEARNING</h2>
            <p>The Nidara Guided Learning system ensures that your child completes their overall curriculum in the sequence that matters as per international standards.</p>
		            <div class="h-link-button">
            <a (click) = "downPage ()" class="go-to-get-now"><button>GET NOW</button></a>
            </div>
			        </div>
    </div>
</div>
</div>
<div class="row" id="">
<div class="home-slide h-slide-1">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-float">
    	 <div class="slide-img">
                   <img src="assets/web_img/16.jpg" alt="">
                </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    	<div class="slide-content">
            <div class="extraPadding"></div>
            <h2>SCHEDULED DAILY LEARNING SESSIONS</h2>
            <p>For growing children, teaching them the concept of time is critical. Nidara’s daily timed sessions help children value time while learning.</p>
		            <div class="h-link-button">
            <a (click) = "downPage ()" class="go-to-get-now"><button>GET NOW</button></a>
            </div>
			        </div>
    </div>
</div>
</div>
<div class="row" id="">
<div class="home-slide ">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
    	 <div class="slide-img">
                   <img src="assets/web_img/15.jpg" alt="">
                </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    	<div class="slide-content">
            <div class="extraPadding"></div>
            <h2>PRACTICE MAKES PERFECT</h2>
            <p>The Practice Mode in Nidara lets your child practice what they have learned at their own time.</p>
		            <div class="h-link-button">
            <a (click) = "downPage ()" class="go-to-get-now"><button>GET NOW</button></a>
            </div>
			        </div>
    </div>
</div>
</div>
<div class="row" id="">
<div class="home-slide h-slide-1">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-float">
    	 <div class="slide-img">
                   <img src="assets/web_img/12.jpg" alt="">
                </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    	<div class="slide-content">
            <div class="extraPadding"></div>
            <h2>PARTICIPATE IN YOUR CHILD'S LEARNING.</h2>
            <p>Based on your child’s daily learning sessions, Nidara gives you daily tips to reinforce your child’s learning with <span class="sameLine">real world examples.</span></p>
		            <div class="h-link-button">
            <a (click) = "downPage ()" class="go-to-get-now"><button>GET NOW</button></a>
            </div>
			        </div>
    </div>
</div>
</div>
<div class="row" id="">
<div class="home-slide ">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
    	 <div class="slide-img">
                   <img src="assets/web_img/14.jpg" alt="">
                </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    	<div class="slide-content">
            <div class="extraPadding"></div>
            <h2>NIDARA AND LEARNING.</h2>
            <p>We believe in using the power of technology to transform your child’s learning experiences.</p>
		            <div class="h-link-button">
            <a (click) = "downPage ()" class="go-to-get-now"><button>GET NOW</button></a>
            </div>
			        </div>
    </div>
</div>
</div>

<!-- Contact Section -->
   <div class="homeContact home-contact">
            <h2>GIVE CHILDREN A SOLID FOUNDATION WITH NIDARA</h2>
      <div class="get-now-form">
      		<div class="h-link-button">
            <a href="/girl" id="go-to-pricing"><button>GET NOW</button></a>
            </div>
      </div>
   </div>


 </div>

 <div id="downpage">
  <div class="container Parent" id="girlboy">
    <div class="pahe-header"></div>
    <div class="" id="downsection">
      <div class="col-md-12 col-md-12 row " id="layout-two-column">
         <div class="two_img"></div>
         <div class="two_img_row">
          <div routerLink="/girl" class="col-md-6 col-lg-6  col-img">
            <div id="">
               <img src="assets/web_img/Nidara-Children-Web-1.jpg" alt="">
            </div>
            <div class="col-md-12 col-lg-12 text-center">
               <h3>GIRL</h3>
               <p><span class="get-start" > GET STARTED </span></p>
            </div>
         </div>
         <div routerLink="/boy" class="col-md-6 col-lg-6  col-img">
            <div id="">
               <img src="assets/web_img/15072812_l-e1526458320974.jpg" alt="">
            </div>
            <div class="col-md-12 col-lg-12 text-center">
               <h3>BOY</h3>
               <p><span class="get-start" > GET STARTED </span></p>
            </div>
         </div>
         </div>
      </div>
   </div>
  </div>

</div>

