<section class="section breadcrumb-section">
  <div class="container">
      <div class="col-lg-12 paddingless">
        <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
          <ul>
            <li>YOU ARE HERE:</li>
          <!-- Breadcrumb NavXT 5.7.1 -->
            <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home."href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
            <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">HEALTHCARE PROVIDERS</span><meta property="position" content="2"></span></li>
          </ul>
        </div>
      </div>
  </div>
</section>
<div class="container" id="layout-container">

    <div class=" paddingless">
      <div id="layout-banner-bg">

                <div class="" id="layout-banner">
                    <div class="layout-banner">
                      <img class="img-responsive" src="assets/web_img/health.jpg" alt="Healthcare Providers" title="Healthcare Providers">
                    </div>
                    <div class="banner-content">
                      <h4 style="text-align: center; text-transform: uppercase">Give your little patients </h4><h4 style="text-align: center; text-transform: uppercase"> best start in life</h4>
                      <p><a class="video" routerLink = "/healthcare-providers/healthcare-video"><img class="alignnone size-full wp-image-3897 img-responsive aligncenter img-responsive " style="width: 40px;" src="assets/web_img/PLAY-ICON-1.png" alt="" srcset="assets/web_img/PLAY-ICON-1.png 180w, assets/web_img/PLAY-ICON-1-150x150.png 150w" sizes="(max-width: 180px) 100vw, 180px"></a></p>
                  </div>
                </div>
            </div>
    </div>
    <div class="col-xs-12 home-slide" id="firstslide" style="text-align:center !important;">
        <h4>FOR HEALTHCARE PROFESSIONALS</h4>
        <h2>GIVE YOUR LITTLE PATIENTS THE BEST START IN LIFE</h2>
        <p>Nidara-Children is a pioneering early child development system dedicated to providing children the best start in life. By combining a child’s developmental
           milestones in health with related to learning outcomes we help children at the time it matters most: their early childhood years.</p>
    </div>
    <div class="col-xs-12 home-slide" style="text-align:center;">
      <div class="col-xs-12 col-md-6">
        <h2>THE SCIENCE BEHIND NIDARA-CHILDREN</h2>

        <p style="text-align:left;">These numbers illustrate the importance of early childhood to the learning, behavior, and health of later life and explain why getting things right the first time is easier and more effective than trying to fix them later:</p>
        <br>
        <p style="text-align:left;">More Than 1 Million New Neural Connections Per Second</p>
        <br>
        <p style="text-align:left;">18 Months: Age At Which Disparities in Vocabulary Begin to Appear</p>
        <br>
        <p style="text-align:left;">90 – 100% Chance of Developmental Delays When Children Experience 6 – 7 Risk Factors</p>
        <br>
        <p style="text-align:left;">3:1 Odds of Adult Heart Disease After 7 – 8 Adverse Childhood Experiences</p>
        <br>
        <span class="nots" style="text-align:left;">Source: Center for the Developing Child, Harvard University</span>
        <br>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="col-xs-12">
          <img class="img-responsive" src="assets/web_img/10pg.png">
        </div>
      </div>
    </div>
    <div class="col-xs-12 home-slide" style="text-align:center;">
        <!-- <div class="col-xs-12">
          <h4>WHY NIDARA-CHILDREN</h4>
          <h2>KNOWING THESE CHANGES EVERYTHING</h2>
        </div> -->
        <div class="layout-heading text-center">
          <h4 style="font-family: 'GillSansStd-light'; " class="text-center">WHY NIDARA-CHILDREN</h4>
          <h2>KNOWING THESE CHANGES EVERYTHING</h2>
        </div>
        <div class="col-xs-12" style="text-align:center;">
          <div class="col-xs-12 col-md-3 col-sm-6">
            <div>
              <img class="img-responsive" src="assets/web_img/12pg.png">
            </div>
            <p style="margin-top:3% !important;">Give your little patients a solid start from the beginning keep track of them consistently during the critical early childhood years.</p>
          </div>
          <div class="col-xs-12 col-md-3 col-sm-6">
            <div>
              <img class="img-responsive" src="assets/web_img/35814407_l.jpeg">
            </div>
            <p style="margin-top:3% !important;">Help more children. With Nidara providing you a consistent development profile, you can focus on what matters most.</p>
          </div>
          <div class="col-xs-12 col-md-3 col-sm-6">
            <div>
              <img class="img-responsive" src="assets/web_img/2018-04-06.png">
            </div>
            <p style="margin-top:3% !important;">Gain access to your little patient’s development with our real time dashboard</p>
          </div>
          <div class="col-xs-12 col-md-3 col-sm-6">
            <div>
              <img class="img-responsive" src="assets/web_img/2018-04-06-1.png">
            </div>
            <p style="margin-top:3% !important;">Catch issues early and give preventive development care rather than reactive for success in learning and health</p>
          </div>
        </div>
    </div>
    <div class="container healthcare-padding" id="form-col-section">
      <div class="col-md-12 col-lg-12" id="layout-two-column">
        <div class="text-center">
          <div class="layout-heading text-center"><h3>JOIN OUR NETWORK OF NIDARA-CHILDREN HEALTHCARE PROVIDER
            <br></h3>
            <p><span class="" style="font-size: 18px; ">Nidara-Children is currently for Indian healthcare providers only.</span></p>
          </div>
          <br>


          <div class="col-md-12 col-sm-12 col-xs-12 paddingless">
            <ng-container *ngIf="country_code == 'IN'" >
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 paddingless"><input class="go-to-get-now form-control" routerLink="./Health_PersonalDetails" name="docreg" type="submit" value="ENROLL NOW"></div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
            </ng-container>
            <ng-container *ngIf="country_code != 'IN'" >
              <div class="col-lg-4 col-md-4"></div>
              <div class="col-lg-4 col-md-4">
                  <form #notifyme = "ngForm" (ngSubmit)="notifymeSubmit(notifyme)" >
                      <div class="form-group">
                          <label>Email <span>*</span></label>
                        <input name="username"style="width:100%" #username="ngModel" class="input-textbox" type="text" [(ngModel)]="formData.email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">

                        <div *ngIf="username.invalid && (username.dirty || username.touched)" >
                          <div *ngIf="username.errors.pattern" class="bg-danger text-white error">
                            Please enter valid email.
                          </div>
                          <div *ngIf="username.errors.required" class="bg-danger text-white error">
                            Email field is required.
                          </div>


                        </div>
                      </div>
                      <div class="form-group"><input class="go-to-get-now form-control" [disabled]="!notifyme.form.valid" name="submit" type="submit" value="NOTIFY ME"></div>
                      </form>
              </div>
              <div class="col-lg-4 col-md-4"></div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
</div>
