<section class="section breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
          <ul>
            <li>YOU ARE HERE:</li>
          <!-- Breadcrumb NavXT 5.7.1 -->
            <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home."href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
            <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">Tina</span><meta property="position" content="2"></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container" id="layout-container">
  <div class="row">
    <div class="col-xs-12" style="text-align:center">
      <h2>THE TINA MASCOT</h2>
      <p s>Our hand drawn logo, Tina is a celebration of children, in particular the girl child. Tina is our muse and mascot and we like to keep her close to our hearts.
        You can find her everywhere along with her little brother Rahul in our pioneering child development systems to our blog.<p>
    </div>
    <div id="layout-banner-bg">
      <div class="" id="layout-banner">
        <div class="layout-banner">
          <img style="padding-top:5%;" class="img-responsive" src="assets/web_img/Ourworldtinabannerimg.jpg" alt="Tina" title="Tina"><div class="layout-banner-title"><h2></h2></div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-xs-12" style="padding:0">

          <div class="col-xs-12" style="padding:0;margin-top:5%;">
            <div class="col-xs-12 col-md-6 col-sm-6" style="text-align: center">
              <img class="img-responsive" id="logo-img" alt="Nidara-Children" src="\assets\web_img\Logo-02.svg" style="display:inline-block;">
              <!-- <h4>Look out for little Tina in our child development systems.</h4> -->
              <div class="col-xs-12 txt_align" style="font-size:22px;">
                <p>
                  Look out for little Tina in our<br> child development systems.</p>
                <span style="padding-right:5%;"><a href = "../boy" hrefActive="active">BOY</a></span>
                <span><a href = "../girl" hrefActive="active">GIRL</a></span>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 col-sm-6">
              <img class="img-responsive" src="\assets\images\tina_note.png" alt="">
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
