<h2>MANAGE YOUR SUBSCRIPTIONS</h2>
<p>You can change, update, or cancel your subscriptions from Nidara.</p>
<form name="manage" action="">
  <div class="form-fields manage">
    <div class="manage_radio">
      <input type="radio" name="manage" value=nidara> <span>I want to hear from Nidara.  Please send me emails about the following (select all that apply):</span></div>
    <div class="manage_check">
      <div class="family">
        <input type="checkbox" name="vehicle" value="title"> <span>News articles and press releases from Nidara</span></div>
      <div class="family">
        <input type="checkbox" name="vehicle" value="title"> <span> Weekly articles and other resources from Nidara</span>        </div>
      <div class="family">
        <input type="checkbox" name="vehicle" value="title"> <span> New Quizzes and Contest announcements</span>
      </div>
    </div>
    <div class="manage_radio">
      <input type="radio" name="manage" value="nidara" /> <span>Please unsubscribe me from all emails</span>
    </div>


    <div>
      <input type="submit" value="SAVE">
    </div>
  </div>
</form>
