<section class="section breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
          <ul>
            <li>YOU ARE HERE:</li>
          <!-- Breadcrumb NavXT 5.7.1 -->
            <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home."href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
            <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">NOTIFICATION THANK</span><meta property="position" content="2"></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container" id="layout-container">
  <ng-container>
    <div class="row">
      <div class="col-xs-12 home-slide">
        <h2>THANK YOU FOR COMPLETING THE QUESTIONNAIRE
        </h2>
        <p>A copy of your responses has been sent to your email.  <span class="but" routerLink="/Home">Continue</span></p>
      </div>
    </div>
  </ng-container>

</div>
