<div class="col-md-12 col-lg-12 paddinglessright">
    <h3>Edit The PRODUCT</h3>
    <form id=product #prouduct="ngForm"  (ngSubmit)="onSubmit(prouduct)" #refForm="ngForm">
      <ng-container *ngFor="let productitem of product;let i=index" >
      <div class="page-header"></div>
      <div class="form-group">
        <label><h4>Product Name</h4></label>
        <input [(ngModel)]="productitem.productName" name="product_name{{i+1}}" type="text" OnlyString="true"  class="form-control" required>
      </div>
      <div class="form-group">
        <div class="col-md-8 col-lg-8 paddingless">
          <label><h4>Production Description</h4></label>
          <!-- <ck-editor name="editor1" formControlName="productDescription" skin="moono-lisa" language="en" [config]=" CkeditorConfig " [fullPage]="true" required></ck-editor> -->
          <ck-editor name={{i+1}} [config]="{removeButtons:'Underline,Subscript,Superscript,SpecialChar',
                                toolbarGroups:[
                                  { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
                                  { name: 'editing', groups: [ 'find'] },
                                  { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
                                  { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                                  { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
                                  { name: 'styles', groups: [ 'styles' ] },
                                  { name: 'colors', groups: [ 'colors' ] },
                                  { name: 'about', groups: [ 'about' ] }
                                  ]
                                }" [(ngModel)]="productitem.productDescription" ></ck-editor>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="col-md-12 col-lg-12 paddingless">
                <label><h4>gender - Type</h4></label>
                <!-- <input formControlName="genderType" name="gender" type="text" OnlyString="true" class="form-control" required> -->
                <select [(ngModel)]="productitem.genderType" name="gender{{i+1}}"  class="form-control">
                  <option value="girl">Girl</option>
                  <option value="boy">Boy</option>
                </select>
            </div>
          <div class="col-md-12 col-lg-12 paddingless">
              <label><h4>Upload Product image</h4></label>
                <input id="file-upload" type="file" (change)="selectFile($event)">
                <span class="btn" (click)="upload()">Upload</span>
              <img [style.background-image]="'url(' + Url + ')'" id="upload-img">
          </div>
        </div>
      </div>
      <div>
      <ng-container>
      <div class="form-group" *ngFor="let getProductFormControl of productitem.productPriceingQty;let i=index">
        <div class="col-md-6 col-lg-6 paddingleftless">
            <label><h4>Product Price</h4></label>
            <input [(ngModel)]="productitem.productPriceingQty[i].productPrice" name="price{{i+1}}" type="text" OnlyNumber="true" class="form-control" required>
        </div>
        <div class="col-md-6 col-lg-6 paddingrightless">
            <label><h4>Age & Stage</h4></label>
            <!-- <input formControlName="productAgeStage" name="age&stage{{i+1}}" type="text" OnlyString="true" class="form-control" required> -->
            <select class="form-control" [(ngModel)]="productitem.productPriceingQty[i].productAgeStage" name="age&stage{{i+1}}" required>
              <option value="">-- Please Choose an Option --	</option>
                <option value="1">Preschool (3 Years to 4 Years )</option>
                <option value="2">Pre-Kindergarten (4 Years to 5 Years)</option>
                <option value="3">Kindergarten (5 Years to 6 Years)</option>
            </select>
        </div>
      </div>
      </ng-container>
    </div>
  </ng-container>
      <div class="col-lg-12 col-md-12">
          <input type="submit" class="btn-save" [disabled]="!prouduct.form.valid" value="SAVE CHANGES">
        </div>
        <div *ngIf="_response.status" class="{{_response.alert}}">{{_response.message}}</div>
    </form>
  </div>

