.top-line-3 {
    width: 36px;
    height: 36px;
    font-size: 20px;
    padding: 5px 14px;
    border-radius: 100%;
    position: absolute;
    right: 0%;
    background-color: #ddd;
    color: #fff;
}
.top-line-2 {
    width: 36px;
    height: 36px;
    font-size: 20px;
    padding: 5px 14px;
    border-radius: 100%;
    position: absolute;
    right: 0%;
    background-color: #83D0C9;
    color: #fff;
}
.top-line-1 {
    width: 36px;
    height: 36px;
    font-size: 20px;
    padding: 5px 14px;
    border-radius: 100%;
    position: absolute;
    left: 0%;
    background-color: #ddd;
    color: #fff;
}
.top-line {
    width: 74%;
    float: left;
    border-bottom: 1px solid #ddd;
    position: relative;
    height: 20px;
    left: 13%;
    margin-bottom: 50px;
    margin-top: 2%;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    /* width: 75%; */
    padding: 6px;
    font-size: 14px;
    margin-top: 5%;
    border:.2px solid #3335;
}
.error {
    margin-left: 0% !important;
    margin-top: 5px;
    background-color: transparent!important;


}
.gbck{
  background: transparent !important;
  color: black !important;
  font-size: 18px !important;
  font-family: inherit !important;
  margin-top: 2% !important;
}
.rowleft{
  float:left;
  width: 100%;
}
.rowright{
  float:left;
  width: 100%;
}

.submit-but{
  width: 100%;
  float: left;
}
button.gbck {
  width: 100%;
  float: left;
}

@media(min-width:768px){
  .submit-but{
    width: 350px;
    float: right;
    margin-right: 15px;
  }
  button.gbck {
    float: right;
    width: 350px;
  }
}

@media(min-width:992px){
  .rowleft{
    float:left;
    width: 45%;
  }
  .rowright{
    float:right;
    width: 45%;
  }
  .submit-but{
    width: 350px;
    float: right;
    margin-right: 15px;
  }
  button.gbck {
    float: right;
    width: 350px;
  }
}
@media(min-width:1200px){
  .rowleft{
    float:left;
    width: 45%;
  }
  .rowright{
    float:right;
    width: 45%;
  }
  .submit-but{
    width: 350px;
    float: right;
    margin-right: 15px;
  }
  button.gbck {
    float: right;
    width: 350px;
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  float: left;
}
