<h2 id="daily-core-session">STEP 3: ACTIVATE NIDARA</h2>

    <p>Great.  Time to start with Nidara</p>
    <p id="time-start">We are very excited to work with you and your children in this incredible journey and helping your children realize their full potential.  Let’s start !</p>
 <form name="daily-schedule" action="">
        <div class="form-response">
           <div class="row">
               <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">    
                <a href="/dashboard"  id="active-later">GO TO MY DASHBOARD</a>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <a (click)="startScheduledTime()" id="scheduldBtn">START AT SCHEDULED TIME</a>
            </div>
            </div>
        </div>
        </div>
    </form>