<div class="row tab-pane fade in " id="child-development">
  <div *ngIf="_response.status" [ngClass]="_response.alert">{{_response.message}}</div>
  <form action="" #guidedForm="ngForm" (ngSubmit)="guidedSubmit(guidedForm)">
    <div class="tbl-form-list clearfix">
      <div class="form-fields">
        <div class="col-md-12 col-lg-12 form-col-br">
          <div class="col-md-6 col-lg-6">
            <label>Select Grade</label>
            <select name="guided_learning_id" #guided_learning_id ="ngModel" id="" [(ngModel)]="formData.guided_learning_id"  required>
              <option *ngFor="let guidedlists of guidedlist" value="{{guidedlists.id}}">{{guidedlists.learning_model}}</option>
            </select>
            <div *ngIf="guided_learning_id.invalid && (guided_learning_id.dirty || guided_learning_id.touched)">
                <div *ngIf="guided_learning_id.errors.required" class="bg-danger text-white error">
                  Primary Segment field is required.
                </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <label for="">Select Core Framework Type</label>
            <select name="framework" #framework = "ngModel" id="" [(ngModel)]="formData.framework_id" required>
              <option *ngFor="let coreFramworks of coreframwork" value="{{coreFramworks.id}}">{{coreFramworks.name}}</option>
            </select>
            <div *ngIf="framework.invalid && (framework.dirty || framework.touched)">
                <div *ngIf="framework.errors.required" class="bg-danger text-white error">
                  Primary Core Framework Grade field is required.
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-fields">
        <div class="col-md-12 col-lg-12 form-col-br">
          <div class="col-md-6 col-lg-6"><label for="">Select Day</label>
            <select #schedule_identified="ngModel" name="schedule_identified"  [(ngModel)]="formData.schedule_identified"  required>
                <option *ngFor="let dayitem of days" value="{{dayitem.id}}">{{dayitem.days}}</option>
            </select>
            <div *ngIf="schedule_identified.invalid && (schedule_identified.dirty || schedule_identified.touched)">
                <div *ngIf="schedule_identified.errors.required" class="bg-danger text-white error">
                    Give day is required
                </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6"></div>
        </div>
      </div>
      <div class="form-fields">
        <div class="col-md-12 col-lg-12 form-col-br">
          <div class="col-md-6 col-lg-6"><label for="">Select Subject</label>
            <select name="subject" #subject="ngModel" id="" [(ngModel)]="formData.subject_id" required>
              <option *ngFor="let subject of subjects" value="{{subject.id}}">{{subject.subject_name}}</option>
            </select>
            <div *ngIf="subject.invalid && (subject.dirty || subject.touched)">
              <div *ngIf="subject.errors.required" class="bg-danger text-white error">
                  Primary Subject field is required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-fields">
        <div class="col-md-12 col-lg-12 form-col-br">
          <div class="col-md-6 col-lg-6"><label for="">Select Game</label>
            <select name="games_tagging_id" id="" #games_tagging_id ="ngModel" [(ngModel)]="formData.games_tagging_id"  required>
              <ng-container *ngFor="let game of gamedetails">
                <option value="{{game.id}}">{{game.games_name}}</option>
              </ng-container>
            </select>
            <div *ngIf="games_tagging_id.invalid && (games_tagging_id.dirty || games_tagging_id.touched)">
                <div *ngIf="games_tagging_id.errors.required" class="bg-danger text-white error" >
                  Primary Game field is required.
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <input type="submit" class="btn-save" [disabled]="!guidedForm.form.valid" value="SAVE CHANGES">
      </div>
    </div>
  </form>
</div>
