<h2>REACTIVATE ACCOUNT</h2>
                        <p>Hi (Insert User Name)
                        <form name="reactive" method="" action="">
                            <div class="form-fields">
                                <div class="react-acc">
                                <label for="welcome">Welcome back!</label>  </div>
                                <div> 
                                <label for="reactive">Please click on the Reactivate button to gain access to your account again.</label> 
                                 </div>
                              <div>
                                  <input type="submit" value="REACTIVATE MY ACCOUNT">
                                    
                                </div>
                          </div>  
                               
         
                        </form>