<div class="container Parent" id="girlboy">
  <div class="pahe-header"></div>
  <div class="container" id="downsection">
    <div class="col-md-12 col-md-12 row " id="layout-two-column">
       <div class="two_img"></div>
       <div class="two_img_row">
        <div routerLink="/girl" class="col-md-6 col-lg-6  col-img">
          <div id="">
             <img src="assets/web_img/Nidara-Children-Web-1.jpg" alt="">
          </div>
          <div class="col-md-12 col-lg-12 text-center">
             <h3>GIRL</h3>
             <p><span class="get-start" > GET STARTED </span></p>
          </div>
       </div>
       <div routerLink="/boy" class="col-md-6 col-lg-6  col-img">
          <div id="">
             <img src="assets/web_img/15072812_l-e1526458320974.jpg" alt="">
          </div>
          <div class="col-md-12 col-lg-12 text-center">
             <h3>BOY</h3>
             <p><span class="get-start" > GET STARTED </span></p>
          </div>
       </div>
       </div>
    </div>
 </div>
</div>
