<div class="col-md-12">
  <div>
    <div class="col-md-12">
      <div class="col-lg-12">
        <h3>PARENT GAME SCHEDULER</h3>
        <div class="row daily-development">
          <ul class="nav nav-tabs">
            <li routerLinkActive="active"><a routerLink="viewall"  style="font-size:18px;">View Game Scheduler</a></li>
            <li routerLinkActive="active"><a routerLink="addnew"  style="font-size:18px;">Add New</a></li>
          </ul>
        </div>
      </div>
    <router-outlet>

    </router-outlet>
  </div>
</div>
