
<div class="container">
  <div class="footer-block clearfix" id="footer-block-first">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
         <div class="ftr-links clearfix">
            <section id="nav_menu-12" class="widget widget_nav_menu">
               <h4 class="widget-title">AUDIENCE</h4>
               <div class="menu-footer-audience-container">
                  <ul id="menu-footer-audience" class="menu">
                      <li id="menu-item-4260" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4260"><a href="healthcare-providers" >Healthcare Providers</a></li>
                      <li id="menu-item-2864" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2864"><a href = "educators">Educators</a></li>
                      <li id="menu-item-4261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4261"><a href ="company" >Company</a></li>


                  </ul>
               </div>
            </section>
         </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
         <div class="ftr-links clearfix">
            <section id="nav_menu-3" class="widget widget_nav_menu">
               <h4 class="widget-title">HELP</h4>
               <div class="menu-footer-menu2-container">
                  <ul id="menu-footer-menu2" class="menu">
                     <li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a href="contact-us">Contact Us</a></li>
                     <li id="menu-item-2749" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2749"><a href ="faqs">Faqs</a></li>
                  </ul>
               </div>
            </section>
         </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
         <div class="ftr-links clearfix">
            <section id="nav_menu-4" class="widget widget_nav_menu">
               <h4 class="widget-title">OUR WORLD</h4>
               <div class="menu-footer-menu3-container">
                  <ul id="menu-footer-menu3" class="menu">
                     <li id="menu-item-405" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-405"><a href = "founders-welcome" hrefActive="active" >Founders’ Welcome</a></li>
                     <li id="menu-item-404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-404"><a href = "about-us" >About Us</a></li>
                  </ul>
               </div>
            </section>
         </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
         <div class="ftr-links clearfix">
            <section id="text-6" class="widget widget_text">
               <h4 class="widget-title">Nidara-Children Updates</h4>
               <div class="textwidget">
                  <form #addgameForm = "ngForm" name="addgameForm"  (ngSubmit)="onSubmit()">
                     <div class="mc4wp-form-fields">
                        <div class="sub-mai-two">
                           <p>
                              <input class="mail" type="email" name="EMAIL" [formControl] = "emailControl" placeholder="Sign up for Nidara-Children news" required="">
                           </p>
                           <p style="position: relative;">
                              <input class="sun-but" type="submit" value=""><br>
                              <span class="sub-but-span">&gt;</span>
                           </p>
                           <p id="subscrip-cont">
                              <span>By subscribing you consent to us using your email address to send you marketing emails. We will not share your data. You may unsubscribe at any time.</span>
                           </p>
                           <p id="subscrip-cont">
                            <span>{{error}}</span>
                         </p>
                        </div>
                        <style>
                           .widget{
                           width:100%;
                           }
                           .sub-mai-two{
                           display:inline-block;
                           width:100%;
                           }
                           .sub-mai-two p{
                           float:left;
                           }
                           .sub-mai-two p:first-child{
                           width:85%;
                           }
                           .sun-but{
                           border-top: 1px solid #cecece;
                           border-bottom: 1px solid #cecece;
                           border-right: 1px solid #cecece;
                           border-left: 0px solid #cecece;
                           width:30px;
                           -webkit-appearance: button;
                           cursor: pointer;
                           z-index: 999;
                           position: absolute;
                           background: none;
                           }
                           .mail{
                           border-top: 1px solid #cecece;
                           border-bottom: 1px solid #cecece;
                           border-right: 0px solid #cecece;
                           border-left: 1px solid #cecece;
                           width: 100%;
                           padding-left:15px;
                           }
                           .sub-but-span {
                           position: absolute;
                           top: 5%;
                           right: -30px;
                           background: #fff;
                           width: 30px;
                           height: 35px;
                           padding: 9px;
                           }
                           .sun-but:hover {
                           border-left: 1px solid #cecece;
                           }
                           #subscrip-cont{
                           font-size:10px;
                           }
                        </style>
                     </div>
                     <p><label style="display: none !important;">Leave this field empty if you’re human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1534837296"><input type="hidden" name="_mc4wp_form_id" value="3693"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-2"></p>
                     <div class="mc4wp-response"></div>
                  </form>
                  <p>
                     <!-- / MailChimp for WordPress Plugin -->
                  </p>
               </div>
            </section>
            <section id="social_widget-2" class="widget widget_social_widget">
               <ul class="socialicons clearfix ">
                  <li><a class="fb" href="https://www.facebook.com/NidaraChildren/" target="_blank"> </a></li>
                  <li><a class="twt" href="https://twitter.com/nidarachildren" target="_blank"> </a></li>
                  <li><a class="ins" href="https://www.instagram.com/nidarachildren/" target="_blank"> </a></li>
                  <li class="youtube-sidebar"><a class="youtube" href="https://www.youtube.com/channel/UCrPGgE34-UZRafDhDT_0i8Q" target="_blank"> </a></li>
                  <li><a class="pin" href="https://www.pinterest.com/nidarachildren/" target="_blank"> </a></li>
                  <li class="email-sidebar"><a class="email" href="/contact-us/" target="_blank"> </a></li>
               </ul>
            </section>
         </div>
      </div>
   </div>
</div>
