<h2>INVITATION TO VIEW CHILD DASHBOARD</h2>

<form>
  <div class="form-fields inv_dashboard_info">
    <div class="form-response">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

          <label for="name">Name:</label>

          <input type="text" name="name" required=""></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="relation">Relationship to kid</label>

          <input type="text" name="relation" required=""></div>
      </div>


      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <label for="time">Amount of time spent with kid</label>

          <input type="text" name="time_spent" required="">
        </div>
      </div>
    </div>


    <div>
      <input type="submit" value="SAVE CHANGES">
    </div>
  </div>
</form>
