<section class="section breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
          <ul>
            <li>YOU ARE HERE:</li>
          <!-- Breadcrumb NavXT 5.7.1 -->
            <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home."href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
            <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">Parent-questionarie</span><meta property="position" content="2"></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="container" id="layout-container">
    <ng-container>
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>This session is no longer valid
          </h2>

        </div>
      </div>
    </ng-container>

  </div> -->


<div class="container" id="layout-container">
  <div class="row">
    <div class="col-xs-12 home-slide">
      <div class="col-xs-12 col-md-6" style="padding: 0px 5px;">
        <div>
          <div class="start-img"  src=""></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-6" style="background-color: #83D0C9;height: 525px;">
        <div class="col-xs-12 fnt_style">
          <h2 style="text-transform:none;">Are you sure
            <br>your child is getting all
            <br>the necessary
            <br>foundations for the best
          <br>start in life?</h2>
          <div class="str_sty" (click)="start();">
            <h4 class="strt_fnt_St">Start</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
