.fnt_style{
  text-align: center;
  margin-top: 10%;
  color: white;
  line-height: 44px;
  font-family: GillSansStd-Light !important;
}
.str_sty{
  border: 2.5px solid white;
  width: 300px;
  margin: 18px auto;
}
.strt_fnt_St{
  margin-top: 7px;
  margin-bottom: 8px;
  font-size: 21px;
  cursor:pointer;
}
.label_sty{
  font-weight: 500;
  font-size: 17px;
  padding-left: -8px;
  padding-right: 11px;
}
.carGiv_ty{
  position: absolute;
  left: 32%;
  width: 49.5%;
}
#layout-container h2{
  margin-bottom: 90px;
  font-size: 40px;
}
.chi_brd{
  margin-top: 3%;
  border-top: .2px solid lightgray;
}
.nav-tabs > li > a{
  border: 1px solid transparent !important;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  color: #4f8dbbd4;
  border: 0;
}
.nav-tabs {
    border-bottom: 0;
}
.inp_rad{
  padding: 49px;
  font-size: 2.5em;
}
.inp_rad_sty{
  width: 4%;
  left: 39%;

}

input[type="radio"], input[type="checkbox"]{
  opacity: 1 !important;
  width:4.5%;
}
input[type="radio"]{
  position: absolute;
  left: 58%;
  top: -20%;
}

.no_inpt{
  margin-left: -24px;
  width: 16px;
}
.np_ipt_fnt{
  font-size: 2.2em;
}
.pad_tp_25{
  padding-top: 25%;
}
ul.dob {
list-style: none;
padding: 0px;
width: 100%;
float: left;
margin-top: -5%;
margin-left: 35%;
margin-bottom: 5px;
}
.form-group {
    margin-bottom: 25px;
}
.redDiv{
   background-color:red;
   height:200px;
   /* width: 30%; */
}
.greenDiv{
   background-color:green;
   height:200px;
    /* width: 30%; */
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 6px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.error {
    margin-left: 0 !important;
     margin-top: 0  !important;
    background-color: transparent!important;
    color: red;
    font-weight: 600;
    font-size: 13px !important;
}
input[type="file"][_ngcontent-c6]:focus, input[type="radio"][_ngcontent-c6]:focus, input[type="checkbox"][_ngcontent-c6]:focus {
  outline: none;
  border: 0px;
  box-shadow: 0px 0px 0px 0px;
}
.btn_cls{
  float: right;
  width: 14%;
  margin: 4% 14%;
}
.start-img {
    background-image: url('/assets/web_img/Nidara-Children-Web-1.jpg');
    height: 526px;
    background-position: center;
    background-size: cover;
}

#layout-container .row {
  margin: 0px;
  margin-right: -15px;
  margin-left: -15px;
}
.home-slide {
  margin: 10px 0px;
  text-align: right;
  /* font-family: 'GillSansStd-Light'; */
  font-family: 'GillSansStd-Light';
  color: #333333;
  font-size: 10px;
}

.but{
  outline: none;
  cursor: pointer;
  }
  .but:hover{
  color: #83d0c9;
  }
