<section class="section breadcrumb-section" >
  <div class="container">
  <div class="row">

  <div class="col-lg-12">
   <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
   <ul>
   <li>YOU ARE HERE:</li>
   <!-- Breadcrumb NavXT 5.7.1 -->
 <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home."href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
 <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">Privacy Policy</span><meta property="position" content="2"></span></li>
     </ul>
  </div>
  </div>

  </div>
  </div>
  </section>

  <div class="container">
    <div class="terms">
     <!-- <h5 style="color:#83D0C9;">Privacy Policy</h5>-->
             <div class="termsNavigation">

         </div>
           <div class="termsDescription">
              <h4>Privacy Policy</h4>
<p>Effective Date: February 7, 2017</p>
<p>&nbsp;</p>
<h4>Overview</h4>
<p>This is our policy regarding how we collect, use, and disclose the information we, Nidara Children Private Limited (<strong>&ldquo;</strong><strong>Nidara-Children</strong><strong>&rdquo;</strong>,&nbsp;<strong>&ldquo;we&rdquo;</strong>,&nbsp;<strong>&ldquo;us&rdquo;</strong>, or&nbsp;<strong>&ldquo;our&rdquo;</strong>), collect on our website services at www.nidarachildren.com (the&nbsp;<strong>&ldquo;Website&rdquo;</strong>); through our Nidara Children digital environment (collectively, the&nbsp;<strong>&ldquo;Apps&rdquo;</strong>); through browser and other web extension applications, such as the www.nidarachildren.com and through the services available through our ;Website, Apps, and other applications (such services, along with the Website, Apps, and applications are, collectively, the&nbsp;<strong>&ldquo;Services&rdquo;</strong>).</p>
<p>&nbsp;</p>
<p>This Privacy Policy applies to all of our users, including children under the age of 13.</p>
<p>&nbsp;</p>
<h4>WHAT PERSONAL INFORMATION WE COLLECT</h4>
<p>We collect certain information or data about you and your child and other related stated parties when you place an order, buy a gift voucher, register for our free trial or paid child development system, register or subscribe to our newsletter, interact with us in any other way such as via social media, click on an advert that we put on other websites, ask for information or assistance, comment on any blogs or articles featured in our services, enter competitions or special promotions, sign up for our special offers or other updates. By registering, subscribing or using our services, you consent to the use of your personal data in line with this policy.</p>
<p>&nbsp;</p>
<p>We collect:</p>
<p>&nbsp;</p>
<ul>
<li>Your name, email address, phone, delivery address and billing address</li>
<li>Your password</li>
<li>Your payment information</li>
<li>Purchase history</li>
<li>Your contact history with us</li>
<li>Information about your IP address, browser, device type, your location data, your referring URL and how you use our website</li>
<li>Your communication and marketing preferences</li>
<li>Your child&rsquo;s name, photo, age via birthdate, gender, grade</li>
<li>Your child&rsquo;s data and information in all fields in health, learning and interest exploration abilities</li>
</ul>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>HOW THIS INFORMATION MAY BE USED</h4>
<h4>WHEN YOU USE OUR SERVICES:</h4>
<p>Your information will be used in the first place to provide the products or information you have asked for.</p>
<p>&nbsp;</p>
<p>Internal Uses</p>
<p>We may use your personal information within Nidara-Children:</p>
<p>To provide you with the services and products you request or that have been ordered and/or requested by your healthcare provider acting on your behalf;</p>
<p>To answer questions about our services bbilling, payment methods or use of our website; (3) to process or collect payments for our services</p>
<p>To conduct customer surveys</p>
<p>To contact you about the products and services that we offer.</p>
<p>&nbsp;</p>
<p>We will use the information provided to help you and our child get an early childhood foundation in health, learning and interest exploration.</p>
<p>&nbsp;</p>
<p>We will use your name and contact details to deliver your purchases to you, send you service messages such as order updates, send you information about our new products and services (with your permission only) or to prevent and detect fraud against either you or Nidara-Children Private Limited.</p>
<p>&nbsp;</p>
<p>We will use your payment information to take payment, give refunds and to prevent and detect fraud against either you or Nidara-Children Private Limited.</p>
<p>&nbsp;</p>
<p>We will use your contact history with us to provide customer service and support and to help us in any future dealings with you.</p>
<p>&nbsp;</p>
<h4>TRACKING HOW OUR ONLINE SERVICES ARE USED:</h4>
<p>We will use the information about how you use our website for statistical and market analysis; developing, testing and maintaining systems; and research and development. This helps us improve the services we offer.</p>
<p>&nbsp;</p>
<h4>FOR MARKETING AND ADVERT TARGETING:</h4>
<p>If you have said we can, we&rsquo;ll send you marketing messages by email to keep you aware of our products and services and to ensure you don't miss offers and information that might interest you.</p>
<p>&nbsp;</p>
<p>We may use the information we collect via cookies when you use our site to build up a picture of your interests. We may then use this information to target banners and ads to you whilst browsing other websites and apps. We do this using a variety of digital marketing networks, ad exchanges and our third-party advertising agencies.</p>
<p>&nbsp;</p>
<p>For more information on about the use of cookies and how to disable them, please read our cookie policy.</p>
<p>&nbsp;</p>
<p>For information on how we may market to you, please read the section called &ldquo;Marketing messages&rdquo;.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>SHARING YOUR INFORMATION</h4>
<p>We do not, and will not, sell any of your personal data to any third party. However, we share your data with the following categories of companies as an essential part of being able to provide our services to you:</p>
<p>&nbsp;</p>
<p>Companies that do things to get your purchases to you, such as payment service providers, warehouses and delivery companies.</p>
<p>&nbsp;</p>
<p>Professional service providers, such as marketing agencies, advertising partners and website hosts who help us run our business.</p>
<p>&nbsp;</p>
<p>Credit reference agencies, law enforcement and fraud prevention agencies, so we can help tackle fraud.</p>
<p>&nbsp;</p>
<p>We may provide third parties with aggregated but anonymised information and analytics about our customers and, before we do so, we will make sure that it does not identify you.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>MARKETING MESSAGES</h4>
<p>We offer you the chance to receive news and fashion updates via email. You can stop receiving marketing messages from us at any time.</p>
<p>&nbsp;</p>
<p>You can do this:</p>
<p>&nbsp;</p>
<p>By clicking on the &lsquo;unsubscribe&rsquo; link in any email sent by us</p>
<p>&nbsp;</p>
<p>By contacting our Customer Care team</p>
<p>&nbsp;</p>
<p>Once you do this, we will update your profile to ensure that you don&rsquo;t receive further marketing messages.</p>
<p>&nbsp;</p>
<p>Stopping marketing messages will not stop service communications (such as order confirmation or updates).</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h4>YOUR RIGHTS</h4>
<p>You have the following rights:</p>
<p>The right to be informed about how your personal information is being used &ndash; Like this Privacy Policy.</p>
<p>The right to access the personal information we hold about you.</p>
<p>The right to ask us to update and correct any out-of-date or incorrect personal data we hold about you. Remember that you can also change some of your personal information on &ldquo;My Account&rdquo; section. To change your address, go to &ldquo;Your Address Book&rdquo; and to change your personal information go to &ldquo;Your Account Details&rdquo;.&nbsp;</p>
<p>The right to request that we delete your data, or stop processing it or collecting it, in some circumstances.</p>
<p>The right to stop direct marketing messages. To learn how to stop them, please read the section called &ldquo;Marketing messages&rdquo;.</p>
<p>The right to complain to your data protection regulator.</p>
<p>If you want to exercise your rights, have a complaint, or just have questions, please contact us.</p>
<p>&nbsp;</p>
<p>CHANGES TO THIS POLICY</p>
<p>We may update this privacy policy from time to time, so you may want to check it each time you give us personal information or use our website.</p>
 </div>
 </div>

