<section class="section breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
          <ul>
            <li>YOU ARE HERE:</li>
          <!-- Breadcrumb NavXT 5.7.1 -->
            <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home."href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
            <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">THANK</span><meta property="position" content="2"></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container" id="layout-container">
  <div class="row">
    <div class="col-xs-12 home-slide">
      <h2>THANKS FOR SUBSCRIBING!</h2>
      <p>Thank you for joining our mailing list. You'll be sent a verification email shortly. Please verify your email to receive our newsletter.</p>
    </div>
  </div>
</div>
