
    <div class="row tab-pane fade in">
      <table class="table table-bordered">
        <thead>

          <tr>
            <th style="width:5%">S/N</th>
            <th style="width:25%"><select [(ngModel)]="formData.grade" name="grade" id="" (change) = "getfilter()">
              <option value="">Grade</option>
              <ng-container *ngFor="let gradeitem of grade">

                <option value="{{gradeitem.id}}">{{gradeitem.grade_name}}</option>
              </ng-container>
            </select> </th>
            <th style="width:25%">
              <select [(ngModel)]="formData.coreframework" name="coreframework" id="" (change) = "getfilter()">
                <option value="">Core Framework</option>
                <ng-container *ngFor="let coreframworkitem of coreframwork">

                  <option value="{{coreframworkitem.id}}">{{coreframworkitem.name}}</option>
                </ng-container>
              </select></th>
            <th style="width:25%">
              <select [(ngModel)]="formData.subjects" name="subjects" id="" (change) = "getfilter()">
                <option value="">Subject</option>
                <ng-container *ngFor="let subjectsitem of subjects">

                  <option value="{{subjectsitem.id}}">{{subjectsitem.subject_name}}</option>
                </ng-container>
              </select></th>
            <th style="width:20%">Game Name</th>
          </tr>

        </thead>
      <!-- <thead>
        <tr>
          <th>S/N</th>
          <th>Grade</th>
          <th>Core Framework</th>
          <th>Subject</th>
          <th>Game Name</th>
        </tr>
      </thead> -->
      <tbody>
        <ng-container *ngFor="let gamedetailsitem of gameData[currentPage];let i=index">
              <tr>
                <td class="word-form">{{i+(currentPage*15) + 1}}</td>
                <td class="word-form">
                    {{gamedetailsitem.grade_name}}
                </td>
                <td class="word-form" >
                  {{gamedetailsitem.core_name}}
                </td>
                <td class="word-form" >
                  {{gamedetailsitem.subject_name}}
                </td>
                <td class="word-form" >
                  <a [routerLink]="['../','gameDataView',gamedetailsitem.game_id]">{{gamedetailsitem.games_name}}</a>
                </td>
              </tr>
        </ng-container>
      </tbody>
    </table>
    <div class="text-center pagination_nav">
      <ng-container *ngIf="currentPage >= 10">
        <a class="pagenav" (click)="selectPageBack()">&lsaquo;&lsaquo;</a>
      </ng-container>
      <ng-container *ngFor="let gamedeta of pageArray| slice:pageIdx*10:(pageIdx+1)*10;let i=index">
            <a class="pagenav" (click)="setGameDetailsView(gamedeta)" [ngClass]="{'active':gamedeta===currentPage}">{{gamedeta+1}}</a>
      </ng-container>
      <ng-container *ngIf="currentPage < (pageNav -1) ">
        <a class="pagenav" (click)="selectPage()">&rsaquo;&rsaquo;</a>
      </ng-container>
    </div>
  </div>
