.pagination_nav {
    margin-bottom: 20px;
    user-select: none;
}
.pagenav.active {
  text-decoration: none;
  color:#83D0C9;
}
.pagenav{
  font-family: 'GillSansStd';
  font-size: 15px !important;
  color: #333333;
  padding: 3px 5px;
  margin: 2px;
}
.pagenav:hover{
  text-decoration: none;
  color:#83D0C9;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
    position: relative;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    padding: 6px;
    font-size: 14px;
    margin-left: -8px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: absolute;
    border: 0px;
    top:0px;
}
