<div class="col-md-12 row">
  <p><br></p>
  <h3>REGISTER NEW DOCTOR</h3>
  <h4>DOCTOR DETAILS</h4>
</div>
<div id="register-page" class="col-md-12 col-lg-12 paddingless">
<form id=formId  (ngSubmit)="onSubmit()" #userReg="ngForm">

<div>
   <div class="col-md-12 col-lg-12 paddingless">
     <h4>USER DETAILS</h4>
      <ng-container *ngFor="let userInfoitem of userInfo" >
      <p class="form-row form-row-first">
         <label for="reg_billing_first_name">First name <span class="required">*</span></label>
         <input type="text" OnlyString="true" [(ngModel)]="userInfoitem.first_name"  class="input-text text-only" name="first_name" id="reg_billing_first_name" value="">

      </p>
      <p class="form-row form-row-last">
         <label for="reg_billing_last_name">Last name <span class="required">*</span></label>
         <input type="text" OnlyString="true" [(ngModel)]="userInfoitem.last_name" class="input-text text-only" name="billing_last_name" id="reg_billing_last_name" value="">

      </p>

      <div class="clear"></div>
      <p class="form-row form-row-first">
        <label for="reg_billing_phone">Mobile Number<span class="required">*</span></label>
        <input type="text" [(ngModel)]="userInfoitem.mobile"  OnlyNumber = "true" maxlength="10" class="input-text number-only" name="phone" id="reg_billing_phone" value="">
      </p>
      <p class="form-row form-row-last">
        <label for="reg_email">Email address <span class="required">*</span></label>
        <input   type="email" [(ngModel)]="userInfoitem.email" class="input-text" name="email_1" id="reg_email" value="">
      </p>
      <div class="clear"></div>
    </ng-container>
      <ng-container *ngFor="let userquliinfoitem of userquliinfo" >
      <p class="form-row form-row-first">
        <label for="registration_number">Registration Number <span class="required">*</span></label>
        <input OnlyNumber = "true" [(ngModel)]="userquliinfoitem.register_no"  type="text" class="input-text" name="registration_number" id="registration_number" value="">
      </p>
      <p class="form-row form-row-last">
        <label for="qualification">Qualification <span class="required">*</span></label>
        <input type="text" [(ngModel)]="userquliinfoitem.qualification"  class="input-text" name="qualification" id="qualification" value="">
      </p>
      </ng-container>
    </div>
    <div class="col-md-12 col-lg-12 paddingless">

    </div>
   <!-- Spam Trap -->

   <div class="col-md-12 col-lg-12 paddingless">
     <h4>HOSPITAL ADDRESS</h4>
     <ng-container *ngFor="let hospitalinfoitem of hospitalinfo" >
      <p class="form-row form-row-first">
          <span class="col-md-12 col-lg-12 paddingless">
         <label for="hospital_name">Hospital Name<span class="required">*</span></label>
          </span>
         <span class="col-md-12 col-lg-12 paddingless">
            <label for="practicing_time"></label>
         </span>
         <input type="text" OnlyString="true" [(ngModel)]="hospitalinfoitem.hospital_name"  class="input-text text-only" name="hospital_name" id="hospital_name" value="">

      </p>
      <p class="form-row form-row-last">
          <span class="col-md-12 col-lg-12 paddingless">
            <label for="practicing_time">Practicing Time<span class="required">*</span></label>
         </span>
         <span class="time">
           <span>from</span>
         <timepicker [(ngModel)]="h_from_time"  name="set_time" [showMeridian]="ismeridian"></timepicker>

        </span>
        <span class="time">
            <span>to</span>
            <timepicker  name="set_time_to" [(ngModel)]="h_to_time" [showMeridian]="ismeridian"></timepicker>

        </span>
         <!-- <input type="time" OnlyString="true" class="input-text text-only" formControlName="practicing_time" name="practicing_time" id="practicing_time" value=""> -->

      </p>
      <div class="clear"></div>
      <p class="form-row form-row-first">
        <label for="reg_billing_address_1">Street Address <span class="required">*</span></label>
        <input type="text" class="input-text" [(ngModel)]="hospitalinfoitem.street_address_1"  name="billing_address_1" id="reg_billing_address_1" value="">

     </p>
     <p class="form-row form-row-last">
        <label for="reg_billing_address_2">Street Address</label>
        <input type="text"  class="input-text" [(ngModel)]="hospitalinfoitem.street_address_2" name="billing_address_2" id="reg_billing_address_2" value="">
     </p>
     <div class="clear"></div>
     <p class="form-row form-row-first">
        <label for="reg_billing_city">City <span class="required">*</span></label>
        <input type="text" OnlyString="true" [(ngModel)]="hospitalinfoitem.city"  class="input-text text-only" name="billing_city" id="reg_billing_city" value="">
        <!-- <span id="city" class="hidden error-column">Please Enter City</span> -->

     </p>
     <p class="form-row form-row-last">
        <label for="reg_billing_state">State <span class="required">*</span></label>
        <!-- <input type="text" class="input-text" name="billing_state" id="reg_billing_state" value="" /> -->
        <select  class="input-text" [(ngModel)]="hospitalinfoitem.state" name="billing_state" id="reg_billing_state" style="height: 37px;">
           <option value="">Select a state…</option>
           <option value="AP">Andhra Pradesh</option>
           <option value="AR">Arunachal Pradesh</option>
           <option value="AS">Assam</option>
           <option value="BR">Bihar</option>
           <option value="CT">Chhattisgarh</option>
           <option value="GA">Goa</option>
           <option value="GJ">Gujarat</option>
           <option value="HR">Haryana</option>
           <option value="HP">Himachal Pradesh</option>
           <option value="JK">Jammu and Kashmir</option>
           <option value="JH">Jharkhand</option>
           <option value="KA">Karnataka</option>
           <option value="KL">Kerala</option>
           <option value="MP">Madhya Pradesh</option>
           <option value="MH">Maharashtra</option>
           <option value="MN">Manipur</option>
           <option value="ML">Meghalaya</option>
           <option value="MZ">Mizoram</option>
           <option value="NL">Nagaland</option>
           <option value="OR">Orissa</option>
           <option value="PB">Punjab</option>
           <option value="RJ">Rajasthan</option>
           <option value="SK">Sikkim</option>
           <option value="TN">Tamil Nadu</option>
           <option value="TS">Telangana</option>
           <option value="TR">Tripura</option>
           <option value="UK">Uttarakhand</option>
           <option value="UP">Uttar Pradesh</option>
           <option value="WB">West Bengal</option>
           <option value="AN">Andaman and Nicobar Islands</option>
           <option value="CH">Chandigarh</option>
           <option value="DN">Dadra and Nagar Haveli</option>
           <option value="DD">Daman and Diu</option>
           <option value="DL">Delhi</option>
           <option value="LD">Lakshadeep</option>
           <option value="PY">Pondicherry (Puducherry)</option>
        </select>

     </p>
     <div class="clear"></div>
     <p class="form-row form-row-first">
        <label for="reg_billing_country">Country  <span class="required">*</span></label>
        <input type="text" [(ngModel)]="hospitalinfoitem.country"  class="input-text" name="billing_country" id="reg_billing_country" value="">

     </p>
     <p class="form-row form-row-last">
        <label for="reg_billing_postcode">Zip/Postcode <span class="required">*</span></label>
        <input type="text" [(ngModel)]="hospitalinfoitem.pin_code"  OnlyNumber = "true" maxlength="6" class="input-text number-only" name="billing_postcode" id="reg_billing_postcode" value="">

     </p>
     <div class="clear"></div>
     <p class="form-row form-row-first">
      <label for="reg_billing_first_name">Secretary Name <span class="required">*</span></label>
      <input type="text" [(ngModel)]="hospitalinfoitem.secretary_name" OnlyString="true" class="input-text text-only" name="billing_first_name" id="reg_billing_first_name" value="">

   </p>
   <p class="form-row form-row-last">
      <label for="reg_email">Secretary Email address <span class="required">*</span></label>
      <input type="email" [(ngModel)]="hospitalinfoitem.secretary_email" class="input-text" name="email_2" id="reg_email" value="">

   </p>
   <div class="clear"></div>

   <p class="form-row form-row-first ">
      <label for="reg_email">Secretary Mobile No <span class="required">*</span></label>
      <!-- <label for="reg_billing_phone">Mobile Number<span class="required">*</span></label> -->
      <input type="text" [(ngModel)]="hospitalinfoitem.secretary_mobile_no"  OnlyNumber = "true" maxlength="15" class="input-text number-only" name="billing_phone" id="reg_billing_phone" value="">

   </p>
   <p class="form-row form-row-last">
      <label for="software">Any software for appointment</label>
      <input type="text" [(ngModel)]="hospitalinfoitem.any_software_for_appointment" OnlyString="true" class="input-text text-only" name="software" id="software" value="">

  </p>
</ng-container>
      <div class="clear"></div>

   </div>

    <!-- Spam Trap -->

    <div class="col-md-12 col-lg-12 paddingless">
        <h4>CLINIC ADDRESS</h4>
        <ng-container *ngFor="let clinicinfoitem of clinicinfo" >
         <p class="form-row form-row-first">
             <span class="col-md-12 col-lg-12 paddingless">
            <label for="hospital_name">Clinic Name<span class="required">*</span></label>
             </span>
            <span class="col-md-12 col-lg-12 paddingless">
               <label for="practicing_time"></label>
            </span>
            <input type="text" OnlyString="true" [(ngModel)]="clinicinfoitem.clinic_name"  class="input-text text-only" name="hospital_name_2" id="hospital_name" value="">

         </p>
         <p class="form-row form-row-last">
             <span class="col-md-12 col-lg-12 paddingless">
               <label for="practicing_time">Practicing Time<span class="required">*</span></label>
            </span>
            <span class="time">
              <span>from</span>
            <timepicker [(ngModel)]="c_from_time"  name="set_time_2" [showMeridian]="ismeridian"></timepicker>

           </span>
           <span class="time">
               <span>to</span>
               <timepicker  name="set_time_to_2" [(ngModel)]="c_to_time" [showMeridian]="ismeridian"></timepicker>

           </span>
            <!-- <input type="time" OnlyString="true" class="input-text text-only" formControlName="practicing_time" name="practicing_time" id="practicing_time" value=""> -->

         </p>
         <div class="clear"></div>
         <p class="form-row form-row-first">
           <label for="reg_billing_address_1">Street Address <span class="required">*</span></label>
           <input type="text" class="input-text" [(ngModel)]="clinicinfoitem.street_address_1"  name="billing_address_1_2" id="reg_billing_address_1" value="">

        </p>
        <p class="form-row form-row-last">
           <label for="reg_billing_address_2">Street Address</label>
           <input type="text"  class="input-text" [(ngModel)]="clinicinfoitem.street_address_2" name="billing_address_2_2" id="reg_billing_address_2" value="">
        </p>
        <div class="clear"></div>
        <p class="form-row form-row-first">
           <label for="reg_billing_city">City <span class="required">*</span></label>
           <input type="text" OnlyString="true" [(ngModel)]="clinicinfoitem.city"  class="input-text text-only" name="billing_city_2" id="reg_billing_city" value="">
           <!-- <span id="city" class="hidden error-column">Please Enter City</span> -->

        </p>
        <p class="form-row form-row-last">
           <label for="reg_billing_state">State <span class="required">*</span></label>
           <!-- <input type="text" class="input-text" name="billing_state" id="reg_billing_state" value="" /> -->
           <select  class="input-text" [(ngModel)]="clinicinfoitem.state" name="billing_state_2" id="reg_billing_state" style="height: 37px;">
              <option value="">Select a state…</option>
              <option value="AP">Andhra Pradesh</option>
              <option value="AR">Arunachal Pradesh</option>
              <option value="AS">Assam</option>
              <option value="BR">Bihar</option>
              <option value="CT">Chhattisgarh</option>
              <option value="GA">Goa</option>
              <option value="GJ">Gujarat</option>
              <option value="HR">Haryana</option>
              <option value="HP">Himachal Pradesh</option>
              <option value="JK">Jammu and Kashmir</option>
              <option value="JH">Jharkhand</option>
              <option value="KA">Karnataka</option>
              <option value="KL">Kerala</option>
              <option value="MP">Madhya Pradesh</option>
              <option value="MH">Maharashtra</option>
              <option value="MN">Manipur</option>
              <option value="ML">Meghalaya</option>
              <option value="MZ">Mizoram</option>
              <option value="NL">Nagaland</option>
              <option value="OR">Orissa</option>
              <option value="PB">Punjab</option>
              <option value="RJ">Rajasthan</option>
              <option value="SK">Sikkim</option>
              <option value="TN">Tamil Nadu</option>
              <option value="TS">Telangana</option>
              <option value="TR">Tripura</option>
              <option value="UK">Uttarakhand</option>
              <option value="UP">Uttar Pradesh</option>
              <option value="WB">West Bengal</option>
              <option value="AN">Andaman and Nicobar Islands</option>
              <option value="CH">Chandigarh</option>
              <option value="DN">Dadra and Nagar Haveli</option>
              <option value="DD">Daman and Diu</option>
              <option value="DL">Delhi</option>
              <option value="LD">Lakshadeep</option>
              <option value="PY">Pondicherry (Puducherry)</option>
           </select>

        </p>
        <div class="clear"></div>
        <p class="form-row form-row-first">
           <label for="reg_billing_country">Country  <span class="required">*</span></label>
           <input type="text" [(ngModel)]="clinicinfoitem.country"  class="input-text" name="billing_country_2" id="reg_billing_country" value="">

        </p>
        <p class="form-row form-row-last">
           <label for="reg_billing_postcode">Zip/Postcode <span class="required">*</span></label>
           <input type="text" [(ngModel)]="clinicinfoitem.pin_code"  OnlyNumber = "true" maxlength="6" class="input-text number-only" name="billing_postcode_2" id="reg_billing_postcode" value="">

        </p>
        <div class="clear"></div>
        <p class="form-row form-row-first">
         <label for="reg_billing_first_name">Secretary Name <span class="required">*</span></label>
         <input type="text" [(ngModel)]="clinicinfoitem.secretary_name" OnlyString="true" class="input-text text-only" name="billing_first_name_2" id="reg_billing_first_name" value="">

      </p>
      <p class="form-row form-row-last">
         <label for="reg_email">Secretary Email address <span class="required">*</span></label>
         <input type="email" [(ngModel)]="clinicinfoitem.secretary_email" class="input-text" name="email_2" id="reg_email" value="">

      </p>
      <div class="clear"></div>

      <p class="form-row form-row-first ">
         <label for="reg_email">Secretary Mobile No <span class="required">*</span></label>
         <!-- <label for="reg_billing_phone">Mobile Number<span class="required">*</span></label> -->
         <input type="text" [(ngModel)]="clinicinfoitem.secretary_mobile_no"  OnlyNumber = "true" maxlength="15" class="input-text number-only" name="billing_phone_2" id="reg_billing_phone" value="">

      </p>
      <p class="form-row form-row-last">
         <label for="software">Any software for appointment</label>
         <input type="text" [(ngModel)]="clinicinfoitem.any_software_for_appointment" OnlyString="true" class="input-text text-only" name="software_2" id="software" value="">

     </p>
   </ng-container>
         <div class="clear"></div>

      </div>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingless">
      <p class="woocomerce-FormRow form-row form-row-last woocommerce-Button-2">
        <input type="submit" class="woocommerce-Button button" id="register-but" name="register" value="SAVE">
      </p>
    </div>
    <div *ngIf="_response.status" class="{{_response.alert}}">{{_response.message}}</div>
</div>
</form>
</div>
