<section class="section breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
          <ul>
            <li>YOU ARE HERE:</li>
          <!-- Breadcrumb NavXT 5.7.1 -->
            <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home."href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
            <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">ABOUT US</span><meta property="position" content="2"></span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container" id="layout-container">
  <div id="layout-banner-bg">
    <!-- <div class="container"> -->
      <div class="" id="layout-banner">
        <div class="layout-banner">
          <img class="img-responsive" src="assets/web_img/Nidara-Children-About-Us.png" alt="About us" title="About us"><div class="layout-banner-title"><h2></h2></div>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <!-- <div class="container"> -->
    <div class="col-xs-12" style="">
      <div class="col-xs-12" style="text-align: center;">
        <h2>ABOUT US</h2>
      </div>
      <div class="col-xs-12" style="padding:0;">
          <div class="slide-content">
            <p style="text-align: center;">A high performing child needs a whole child approach that includes solid brain, body and emotional development.<br>
                We help your child form daily routines, get the right nutrition, do yoga and develop social milestones.
            </p>
          </div>
      </div>
    </div>

  <!-- </div> -->

  <!-- <div class="container"> -->
    <div class="row">
      <div class="col-xs-12 home-slide_1" style="padding:0">
        <div class="col-md-12 col-lg-12" style="padding:0">
          <h2 style="text-align: center">Discover More</h2>
          <div class="col-xs-12 col-md-4 col-sm-6">
              <a class="hist_tg" href = "./../our-History" hrefActive="active">
              <div class="col-xs-12" style="text-align:center">
                <img class="about-img-thum" src="\assets\web_img\ourworld\5.jpg">
              </div>
            <div class="col-xs-12">

                <h5 style="font-size:20px;">OUR HISTORY</h5>
                DISCOVER

            </div>
          </a>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-6 mar_tp mar_tp_1">
              <a class="hist_tg" href = "" hrefActive="active">
            <div class="col-xs-12" style="text-align:center">
                <img class="about-img-thum" src="\assets\web_img\ourworld\4.jpg">
            </div>
            <div class="col-xs-12">

                <h5 style="font-size:20px;">THE NIDARA-CHILDREN EARLY CHILDHOOD DEVELOPMENT SYSTEM</h5>
                DISCOVER

            </div>
          </a>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-6 mar_tp">
              <a class="hist_tg" href = "./../stories" hrefActive="active">
            <div class="col-xs-12" style="text-align:center">
                <img class="about-img-thum" src="\assets\web_img\ourworld\2.jpg">
            </div>
            <div class="col-xs-12">

                <h5 style="font-size:20px;">STORIES</h5>
                DISCOVER

            </div>
          </a>
          </div>
        </div>
        <div class="col-md-12 col-lg-12" style="margin-top:6.5%;padding:0;">
          <div class="col-xs-12 col-md-4 col-sm-6 mar_tp">
              <a class="hist_tg" href = "./../tina" hrefActive="active">
            <div class="col-xs-12" style="text-align:center">
                <img class="about-img-thum" src="\assets\web_img\ourworld\6.jpg">
            </div>
            <div class="col-xs-12">

                <h5 style="font-size:20px;">TINA</h5>
                DISCOVER

            </div>
          </a>
          </div>
          <div class="col-xs-12 col-md-4 col-sm-6 mar_tp">
              <a class="hist_tg"  href = "https://blog.nidarachildren.com/">
              <div class="col-xs-12" style="text-align:center">
                  <img class="about-img-thum" src="\assets\web_img\ourworld\3.jpg">
              </div>
              <div class="col-xs-12">

                  <h5 style="font-size:20px;">THE NC BLOG</h5>
                  DISCOVER

              </div>
            </a>
          </div>

          <div class="col-xs-12 col-md-4 col-sm-6 mar_tp">
              <a class="hist_tg" href="https://www.facebook.com/NidaraChildren/"  target="/blank">
            <div class="col-xs-12" style="text-align:center">
                <img class="about-img-thum" src="\assets\web_img\ourworld\1.jpg">
            </div>
            <div class="col-xs-12">

                <h5 style="font-size:20px;">BE AN NC ANGEL</h5>
                DISCOVER

            </div>
          </a>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>
