                        
/*change password*/
#change-psw{background-color: #333333;border: 0 none;box-shadow: none;color: #fff;float: right;height: auto;padding: 6px 125px;
text-transform: uppercase;transition: all 0.4s ease 0s;max-width: 75;text-align: center;}
#change-psw:hover{background: #83D0C9;}
.password-div .form-fields input[type="password"] {
    border: 1px solid #bbb;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 14px;
    padding: 7px;
    width: 100%;
}
.password-div label {
    display: inline-block;
    margin-top: 10px;
    max-width: 100%;
}

#sel1 {
    background-color: #fff;
    font-size: 14px;
    height: 30px;
    border-radius: 0px;
  }