<section class="section breadcrumb-section">
  <div class="container">
  <div class="row">

  <div class="col-lg-12">
   <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
   <ul>
   <li>YOU ARE HERE:</li>
   <!-- Breadcrumb NavXT 5.7.1 -->
 <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home." href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
 <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">About Dr. Nadadur Janardhan</span><meta property="position" content="2"></span></li>

     </ul>
  </div>
  </div>

  </div>
  </div>
  </section>
<div class="container" id="layout-container">





	<div class="row layout-1" id="layout-single-row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          	<h2 class="text-center">About Dr. Nadadur Janardhan</h2>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:right !important">
              <div class="layout-image-single-row" style="text-align:center; padding-bottom:2vh;">
				                        <img class="img-responsive" src="assets/web_img/DSC_0024-2.jpg" alt="">
                                  </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 founder-content-paragraph">
              <div class="layout-content-single-row">
                <h3>Biographical Data</h3>
<p>Dr. Nadadur Janardhan is the founder of Nidara Children Inc and co-creator of its pioneering child development and education product and system (patent pending).  His focus is on improving the ‘Child Health &amp; Quality of Education’ for Children studying in the Government Primary Schools &amp; Anganwadies (Age from 3 to 12, when Brain Development is at its peak). This includes Class appropriateness, Age appropriateness and Life skills, as envisaged in the ‘Sustainable development Goals’ (SDG 2016-2030) of the United Nations (Goals 3, 4, 5 &amp; 8) of which India is a signatory. </p>
<p>Dr. Nadadur Janardhan, United Nations Advisor, Officer of the Indian Administrative Service, and Expert on Governance, Child Development and Quality Education possesses over 35 years of diverse experience in the United Nations, Government, Public Chartable Institutions and Business. He was invited to be the UNESCO Chair Professor of Indira Gandhi National Open University on Governance of Education, Adviser to the Indian Red Cross Society, and Honorary Fellow of Indian Institute of Foreign Trade.</p>
<p>As District Collector of Ramanathapuram, he mobilized more than 14,000 volunteers of Higher Secondary school to ensure ‘Literacy for 120,000 students in the District. To ensure they continued to reap the benefits of education, he founded Maharam, an organization focused on women empowerment and entrepreneurship; around 60,000 members are benefitting from it. He believes in ‘Volunteerism’ to catalyze children realize their potential.</p>
<p>Dr. Janardhan was the Electronic Governance adviser and Program Integrator, for the MCA21 program: an innovative Modernization &amp; Computerization Initiative of the Ministry of Corporate Affairs, Government of India linking 600,000 companies for all their services from the ‘Incorporation to liquidation’. He conceptualized the program from ideation to roll-out; and included structuring and innovative financing (~US $ 80 million) – First co-sourcing for an entire Ministry of Government of India. </p>
<p>He has authored three books; two of them are on the social, political and economic factors contributing to illiteracy, gender inequality, anxiety and male aggression and techniques to cope with them (Published by International Fund for Agriculture Development, Rome). These were based on his extensive grass root work spanning over 15 years in the rural-agrarian belts in Tamil Nadu.</p>
<p>Dr. Janardhan’s education is multi-disciplinary; he had done his basic Honours degree in Physics, Masters in Electronics (both from Delhi University) and Doctorate in Economics (with focus on integrated policies for development). His love for continuous MOOC based education includes Psychology (Wesleyan University) and Neuro-ethics (University of Pennsylvania). He was also a National Science Talent Scholar, which ensured his entire education being funded by merit based scholarship.</p>
<p>He is a member of several professional bodies that includes Social Psychology Network, USA; Technical Working Groups on International Trade Procedures, CEFACT, Geneva; Indian Institute of Public Administration; and Indian Econometric Society. He is the Founder President, Human Resource Development Society, Ramanathapuram; Founder, Maharam, Ramanathapuram to empower and engage women in entrepreneurial activities and PHF Member, Rotary Mid-City, Chennai where he is Director (Gen Next).</p>
<p>His services have been sought by over 35 countries that includes Armenia, Azerbaijan, Bangladesh, Cambodia, China (including Hong Kong), Fiji, Hungary, India, Indonesia, Iran, Japan, Kazakhstan, Lao PDR, Luxemburg, Macau, Maldives, Malaysia, Malta, Mongolia, Myanmar, Namibia, Nepal, New Caledonia, Papua New Guinea, Philippines, Poland, Republic of Korea, Russian Federation, Singapore, Solomon Islands, Sri Lanka, Thailand, Tonga, Vanuatu and Vietnam.</p>
              </div>
          </div>
      </div>







</div>
