<div class="col-md-12 col-lg-12">
  <div class="col-md-12 col-lg-12">
      <h3>ADD NEW PARENT QUESTIONNAIRE</h3>
      <div class="row daily-development">
        <ul class="nav nav-tabs">
          <li routerLinkActive="active"><a routerLink="viewhealthdevelopment"  style="font-size:18px;">View Parent Questionnaire</a></li>
          <li routerLinkActive="active"><a routerLink="addnew"  style="font-size:18px;">Add New</a></li>
        </ul>
      </div>
  </div>
  <router-outlet>

  </router-outlet>
</div>
