     <h2>HOME ADDRESS</h2>
                        <form>
                            <div class="form-fields home_add_info">
                                <div class="form-response">
                               <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  

                                <label for="address">Address Link1</label> 

                                <input type="text" name="address" required=""></div> 
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  
                                <label for="address">Address Link2</label>

                                <input type="text" name="address" required="" ></div> 
                        </div> 

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  

                                <label for="city">Town/City</label> 

                                <input type="text" name="city" required=""></div> 
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  
                                <label for="state">State</label>

                                <input type="text" name="state" required="" ></div> 
                        </div> 


                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  

                                <label for="pincode">Pincode</label> 

                                <input type="text" name="pincode" required=""></div> 
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">  
                                <label for="country">Country</label>

                                <input type="text" name="country" required=""></div> 
                        </div> 
                                     </div> 
                        <div>
                            <input type="submit" value="SAVE CHANGES" >
                        </div>
                                </div>
                        </form>