<div class="container" id="web">
    <nav class="navbar navbar-default">
       <div class="container-fluid">
          <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
             <ul class="nav navbar-nav">
                <li class="dropdown show">
                   <a class="dropdown-toggle" data-toggle="dropdown" >The Early Childhood System
                    <span class="caret"></span></a>
                   <ul class="dropdown-menu dropup show" data-hover="dropdown" data-animations="fadeInDown">
                      <div class="col-md-7 col-lg-7 dropdown-menu-list first" id="first-dropdown">
                         <div class="col-md-12 col-lg-12">
                            <li><a href="" style="color: #83d0c9;">The Early Childhood System
                            </a></li>
                         </div>
                         <div class="col-md-4 col-lg-4 one">
                            <li><a class="colse-main" href ="/health-whole-child-development" hrefActive="active">Health (Whole Child Development)</a></li>
                         </div>
                         <div class="col-md-4 col-lg-4 two">
                            <li><a class="colse-main" href = "/personalized-learning" hrefActive="active" >Personalized Learning</a></li>
                         </div>
                         <div class="col-md-4 col-lg-4 three">
                            <li><a class="colse-main" href = "/interest-exploration" hrefActive="active" >Interest Exploration</a></li>
                         </div>
                      </div>
                      <div class="col-md-5 col-lg-5">
                         <img class="ubermenu-image ubermenu-image-size-full" src="assets/web_img/10.jpg"   width="100%" height="auto" alt="48092345_l (1)">
                      </div>
                   </ul>
                </li>
                <li class=""><a class="colse-main" href = "/girl" >GIRL</a></li>
                <li class=""><a class="colse-main" href = "/boy" >BOY</a></li>
                <li class=""><a class="colse-main" href="/stories">STORIES</a></li>
                <li class=""><a class="colse-main" href="https://blog.nidarachildren.com/">NC BLOG</a></li>
                <li class="dropdown show">
                   <a class="dropdown-toggle" data-toggle="dropdown" >OUR WORLD<span class="caret"></span></a>
                   <ul class="dropdown-menu show" data-hover="dropdown" data-animations="fadeInDown">
                      <div class="col-md-7 col-lg-7 dropdown-menu-list second">
                         <div class="col-md-12 col-lg-12">
                            <li><a href="" style="color: #83d0c9;">Our World</a></li>
                         </div>
                         <div class="col-md-4 col-lg-4">
                            <li><a class="colse-main" href = "/founders-welcome" hrefActive="active" >Founders’ Welcome</a></li>
                            <li><a class="colse-main" href = "/about-us" hrefActive="active">About Us</a></li>


                         </div>
                         <div class="col-md-2 col-lg-2">
                            <li><a class="colse-main"  href = "/stories" hrefActive="active">Stories</a></li>
                         </div>
                         <div class="col-md-4 col-lg-4">
                            <li><a class="colse-main" href = "/tina" hrefActive="active">tina</a></li>
                         </div>
                      </div>
                      <div class="col-md-5 col-lg-5">
                         <img class="ubermenu-image ubermenu-image-size-full" src="assets/web_img/11.jpg"  width="100%" height="auto"  alt="10536613_l (1)">
                      </div>
                   </ul>
                </li>
             </ul>
          </div>
       </div>
    </nav>
 </div>
