<div class="game-header ">
  <!-- {{ipaddress}} -->
  <div class="row ">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <a (click)="logoClick()">
        <img src="/assets/logo/child_logo-30.svg" >
        </a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ">

      <div class="audio-div">
        <ul class="audio-setting">
          <li id="welcom-audio" class="img-shadow"><a><img src="assets/images/volume-active-icon.png" id="header-audio-btn" (click)="volumeClick()" (mouseover)='volumeHover()' (mouseout)='volumeOut()'></a></li>

          <li class="img-shadow"><a ><img src="assets/images/close-icon.png"  id="exit-btn" (click)="exitClick()" (mouseover)='exitHover()' (mouseout)='exitOut()'></a></li>
        </ul>
      </div>

    </div>

  </div>
</div>
<div id="mobile-dev">
    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 text-center" id="center-div">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="navbar-brand">

               <img style="width:100%" alt="Nidara-Children" src="assets/web_img/Logo-02.svg">

            </div>
         </div>
         <div class="content col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span >For the safety and protection of your child's eyes, our Nidara-Children milestone activity dashboard for your child is accessible on screens that are larger than 7 inches and above only.</span>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button class="go-to-back"  >OK</button>
          </div>
    </div>
  </div>
