<header id="header" class="">
  <div class="container">
  <div class="row topsection">

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 top-bar-left">
  <div class="welcome-note clearfix">
    <h4>Hello & welcome !</h4>
    <div class="tagline">Give your child the best start in life </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 top-bar-right">

  <div class="login-block clearfix">

    <ul>

    <li class="signin" ><a id="started3">GET STARTED</a></li>
    <li>|</li>
    <li class="signin" ><a href="/signin">Sign In</a></li>
    <li class="cartbag"><a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a></li>
    </ul>
    </div>

    <div class="search-box clearfix">
    <div class="search-input"><input name="search" type="text"></div>
     <div class="search-btn"><button     type="submit" title="Search"><i class="fa fa-search"></i></button></div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="navbar-brand">
<a href="/signin">
<img alt="logo" src="assets/images/logo.jpg">
</a>
</div>
</div>
 </div>

    <div class="row ">
  <div class="col-lg-12">
  <div class="nav-sections clearfix">
 <nav class="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!--
      <ul class="nav navbar-nav">
        <li><a href="#">PRESCHOOL</a></li>
        <li><a href="#">PRE KINDERGARTEN</a></li>
        <li><a href="#">KINDERGARTEN</a></li>
        <li><a href="#">GIFT SHOP</a></li>
        <li><a href="#">SHINING STARs</a></li>
        <li><a href="#">NIDARA GUIDES</a></li>
        <li><a href="#">OUR WORLD</a></li>

      <li>A PIONEERING EARLY CHILD DEVELOPMENT BRAND DECIDED TO PROVIDING CHILDREN THE BEST START IN LIFE</li>

      </ul>
      -->
      <h5>A PIONEERING EARLY CHILD DEVELOPMENT BRAND DEDICATED TO PROVIDING CHILDREN THE BEST START IN LIFE</h5>


    </div><!-- /.navbar-collapse -->

</nav>
</div>
  </div>
  </div>
  </div>
</header>
