<section class="section breadcrumb-section">
  <div class="container">
  <div class="row">

  <div class="col-lg-12">
   <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
   <ul>
   <li>YOU ARE HERE:</li>
   <!-- Breadcrumb NavXT 5.7.1 -->
 <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home." href = "/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
 <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">About Shubha Janardhan</span><meta property="position" content="2"></span></li>

     </ul>
  </div>
  </div>

  </div>
  </div>
  </section>
<div class="container" id="layout-container">





	<div class="row layout-1" id="layout-single-row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          	<h2 class="text-center">About Shubha Janardhan</h2>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:right !important">
              <div class="layout-image-single-row" style="text-align:center; padding-bottom:2vh;">
				                        <img class="img-responsive" src="assets/web_img/20160713_210339-1-2.jpg" alt="">
                                  </div>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 founder-content-paragraph">
              <div class="layout-content-single-row">
                <p>Shubha Janardhan co-founded Nidara-Children in 2012,&nbsp;a pioneering early child development system dedicated to providing children the best start in life.&nbsp;&nbsp; She has led the initiative from concept to reality, enabling a new paradigm of providing children the best start in life. &nbsp;Shubha is responsible for the direction and product strategy of our company.</p>
<p>Shubha graduated from The Pennsylvania State University with a Bachelor of Science in Information Systems, special courses in Human Development and Family Studies and Children.&nbsp; Shubha also completed special focus courses from Massachusetts Institute of Technology in Evaluation and Implementation of Educational Technology.&nbsp; Shubha attended the International School Bangkok and Kodaikanal International School.</p>
              </div>
          </div>
      </div>







</div>
