<section class="section breadcrumb-section" >
  <div class="container">
  <div class="row">

  <div class="col-lg-12">
   <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
   <ul>
   <li>YOU ARE HERE:</li>
   <!-- Breadcrumb NavXT 5.7.1 -->
 <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home."href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
 <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">Notice of Privacy Practices</span><meta property="position" content="2"></span></li>
     </ul>
  </div>
  </div>

  </div>
  </div>
  </section>

  <div class="container">
      <p>&nbsp;</p>
      <p>Nidara Website Notice of Privacy Practices V1.0</p>
      <p>&nbsp;</p>

      <p>THIS NOTICE DESCRIBES HOW MEDICAL INFORMATION ABOUT YOU MAY BE USED AND DISCLOSED AND HOW YOU CAN GET ACCESS TO THIS INFORMATION. PLEASE REVIEW IT CAREFULLY.</p>
      <p>&nbsp;</p>
      <p>Nidara-Children and its wholly owned subsidiaries (collectively &ldquo;Nidara-Children&rdquo;) are committed to protecting the privacy of your identifiable health information. This information is known as &ldquo;protected health information&rdquo; or &ldquo;PHI.&rdquo; PHI includes child development system data and results as well as invoices for the child development and learning services we provide.</p>
      <p>&nbsp;</p>
      <p><strong><u>Our Responsibilities</u></strong></p>
      <p>Nidara-Children is required by law to maintain the privacy of your PHI. We are also required to provide you with this Notice of our legal duties and privacy practices upon request. It describes our legal duties, privacy practices and your patient rights as determined by the Health Insurance Portability and Accountability Act of 1996 (HIPAA). We are required to follow the terms of this Notice currently in effect. We are required to notify affected individuals in the event of a breach involving unsecured protected health information. PHI is stored electronically and is subject to electronic disclosure. This Notice does not apply to non-diagnostic services that we perform such as certain child development of abuse testing services and clinical trials testing services.</p>
      <p>&nbsp;</p>

      <p><strong><u>How We May Use or Disclose Your Health Information</u></strong></p>
      <p>We use your PHI for treatment, payment, or healthcare operations purposes and for other purposes permitted or required by law. Not every use or disclosure is listed in this Notice, but all of our uses or disclosures of your health information will fall into one of the categories listed below.</p>
      <p>&nbsp;</p>
      <p>We need your written authorization to use or disclose your health information for any purpose not covered by one of the categories below. Subject to compliance with limited exceptions, we will not use or disclose psychotherapy notes, use or disclose your PHI for marketing purposes or sell your PHI, unless you have signed an authorization. You may revoke any authorization you sign at any time. If you revoke your authorization, we will no longer use or disclose your health information for the reasons stated in your authorization except to the extent we have already taken action based on your authorization.</p>
      <p>&nbsp;</p>
      <p>The law permits us to use and disclose your health information for the following purposes:</p>
      <p>&nbsp;</p>
      <p><strong>Treatment</strong></p>
      <p>Nidara-Children provides child development data for physicians and other healthcare professionals, and we use your information in our child development assessment process. We disclose your health information to authorized healthcare professionals who order tests or need access to your test results for diagnostic and treatment purposes. Examples of other treatment related purposes include disclosure to a another healthcare provider to help interpret your child&rsquo;s results or use of your information to contact you to obtain another specimen, if necessary.</p>
      <p>&nbsp;</p>
      <p><strong>Payment</strong></p>
      <p>Nidara-Children will use and disclose your PHI for purposes of billing and payment. For example, we may disclose your PHI to health plans or other payers to determine whether you are enrolled with the payer or eligible for health benefits or to obtain payment for our services. If you are insured under another person&rsquo;s health insurance policy (for example, parent, spouse, domestic partner or a former spouse), we may also send invoices to the subscriber whose policy covers your health services.</p>
      <p>&nbsp;</p>
      <p><strong>Healthcare Operations</strong></p>
      <p>Nidara-Children may use and disclose your PHI for activities necessary to support our healthcare operations and child development operations, such as performing quality checks on our testing, internal audits, arranging for legal services or developing reference ranges for our tests.</p>
      <p>&nbsp;</p>
      <p><strong>Business Associates</strong></p>
      <p>We may provide your PHI to other companies or individuals that need the information to provide services to us. These other entities, known as "business associates," are required to maintain the privacy and security of PHI. For example, we may provide information to companies that assist us with billing of our services. We may also use an outside collection agency to obtain payment when necessary.</p>
      <p>&nbsp;</p>
      <p><strong>As Required by Law</strong></p>
      <p>We may use and disclose your PHI as required by law.</p>
      <p>&nbsp;</p>
      <p><strong>Law Enforcement Activities and Legal Proceedings</strong></p>
      <p>We may use and disclose your PHI if necessary, to prevent or lessen a serious threat to your health, your child&rsquo;s health and safety or that of another person. We may also provide PHI to law enforcement officials, for example, in response to a warrant, investigative demand or similar legal process, or for officials to identify or locate a suspect, fugitive, material witness, or missing person. We may also disclose PHI to appropriate agencies if we reasonably believe an individual to be a victim of abuse, neglect or domestic violence.</p>
      <p>&nbsp;</p>
      <p>We may disclose your PHI as required to comply with a court or administrative order. We may disclose your PHI in response to a subpoena, discovery request or other legal process in the course of a judicial or administrative proceeding, but only if efforts have been made to tell you about the request or to obtain an order of protection for the requested information.</p>
      <p>&nbsp;</p>
      <p><strong>Research</strong></p>
      <p>We may disclose PHI for research purposes when an Institutional Review Board or privacy board has reviewed the research proposal and established protocols to ensure the privacy of your PHI and determined that the researcher does not need to obtain your authorization prior to using your PHI for research purposes. We may also disclose information about decedents to researchers under certain circumstances.</p>
      <p>&nbsp;</p>
      <p><strong>Other Uses and Disclosures</strong></p>
      <p>As permitted by HIPAA, we may disclose your PHI to:</p>
      <ul>
      <li>Public Health Authorities</li>
      <li>The Food and Drug Administration</li>
      <li>Health Oversight Agencies</li>
      <li>Military Command Authorities</li>
      <li>National Security and Intelligence Organizations</li>
      <li>Correctional Institutions</li>
      <li>Organ and Tissue Donation Organizations</li>
      <li>Coroners, Medical Examiners and Funeral Directors</li>
      <li>Workers Compensation Agents</li>
      </ul>
      <p>&nbsp;</p>
      <p>We may also disclose relevant PHI to a family member, friend, or anyone else you designate in order for that person to be involved in your care, your child&rsquo;s care or payment related to your or your child&rsquo;s care. We may also disclose PHI to those assisting in disaster relief efforts so that others can be notified about your condition, status and location.</p>
      <p>&nbsp;</p>
      <p><strong>Note Regarding State Law</strong></p>
      <p>For all of the above purposes, when state law is more restrictive than federal law, we are required to follow the more restrictive state law.</p>
      <p>&nbsp;</p>
      <p><strong><u>Your Patient Rights</u></strong></p>
      <p>Receive Test/ Assessment/ Milestone Information</p>
      <p>You have the right to access your PHI that we have created. You may receive your child&rsquo;s test/ assessment/ milestone results online or on your smartphone using our mobile app, or obtain a form to request a copy of your results, by visiting our website at www.nidarachildren.com. You may also email us at contact@haselfre.com. If your request for test/assessment/milestone information is denied, you may request that the denial be reviewed.</p>
      <p>&nbsp;</p>
      <p><strong>Amend Health Information</strong></p>
      <p>You may request amendments to your or your child&rsquo;s PHI by making a written request. However, we may deny the request in some cases (such as if we determine the PHI is accurate). If we deny your request to change your PHI we will provide you with a written explanation of the reason for the denial and additional information regarding further actions that you may take.</p>
      <p>&nbsp;</p>
      <p><strong>Accounting of Disclosures</strong></p>
      <p>You have the right to receive a list of certain disclosures of your PHI made by Nidara-Children in the past six years from the date of your written request. Under the law, this does not include disclosures made for purposes of treatment, payment, or healthcare operations or certain other purposes.</p>
      <p>&nbsp;</p>
      <p><strong>Request Restrictions</strong></p>
      <p>You may request that we agree to restrictions on certain uses and disclosures of your PHI. We are not required to agree to your request, except for requests to limit disclosures to your health plan for purposes of payment or healthcare operations when you have paid us for the item or service covered by the request out-of-pocket and in full and when the uses or disclosures are not required by law.</p>
      <p>&nbsp;</p>
      <p><strong>Request Confidential Communications</strong></p>
      <p>You have the right to request that we send your health information by alternative means or to an alternative address, and we will accommodate reasonable requests.</p>
      <p>&nbsp;</p>
      <p><strong>Copy of this Notice</strong></p>
      <p>You have the right to obtain a paper copy of this Notice upon request.</p>
      <p>&nbsp;</p>
      <p><strong>How to Exercise Your Rights</strong></p>
      <p>You may write or send an email to us with your specific request, including requesting a form to complete to obtain a copy of your test/assessment/milestone results. Nidara-Children will consider your request and provide you a response.</p>
      <p>&nbsp;</p>
      <p><strong>Complaints/Questions</strong></p>
      <p>If you believe your privacy rights have been violated, you have the right to file a complaint with us.</p>
      <p>&nbsp;</p>
      <p>To file a complaint with us, or should you have any questions about this Notice, send an email to us at contact@haselfre.com, or write to us at the following address:</p>
      <p>Nidara Children Private Limited&nbsp;<br /> Attention: Privacy Officer&nbsp;<br /> Level 5, Prestige Palladium Bayan</p>
      <p>No : 129 - 140, Greams Road</p>
      <p>Chennai &ndash; 600006, India.</p>
      <p>&nbsp;</p>
      <p><strong>Note</strong></p>
      <p>We reserve the right to amend the terms of this Notice to reflect changes in our privacy practices, and to make the new terms and practices applicable to all PHI that we maintain about you, including PHI created or received prior to the effective date of the Notice revision. Our Notice is displayed on our website and a copy is available upon request.</p>
      <p>&nbsp;</p>
      <p>Non-Discrimination<br /> Notice</p>
      <p>Nidara-Children Incorporated and its subsidiaries (Nidara-Children) complies with applicable Federal civil rights laws and does not discriminate on the basis of race, color, national origin, age, disability, or sex. Nidara-Children does not exclude people or treat them differently because of race, color, national origin, age, disability, or sex.</p>
      <p>&nbsp;</p>
      <p>Nidara-Children will do its best to assist people.</p>
      <p>&nbsp;</p>
      <p>Language Assistance Services</p>
      <p>At this time, we offer only English as a primary mode of communication.&nbsp;</p>
      <p>&nbsp;</p>
      <p>Effective: Oct 17, 2018</p>
      <p>&nbsp;</p>

  </div>

