body{padding: 0px;margin: 0px;font-family:"GillSansStd-Light";color: #333333;}
.dashboard{border-bottom:solid  #CECECE 1px;margin: 0px;padding: 10px 0px;}
.mother{border:solid  #e5e5e5 1px;margin-top:20px;}
.mother-img{margin: 20px 0px;}
.childern{border:solid  #e5e5e5 1px;margin-top:10px;}
.childern p{margin-top: 10px;font-weight: bold;}
.left-side-menu p{text-align:center;font-size: 18px;}
.child-photo{margin: 10px 10px;}
 #gril{opacity: 0.2;}
.child-detail{margin-top: 10px;}
 #referral{border: none;}

.dashboard-middle{margin-top: 20px;}
.dashboard-middle h2{margin-top: 0px;}
.dashboard-middle p{font-size: 18px;margin-top: -6px;}
.dashboard-middle h2{font-size: 22px;}
#math{border: solid #e7e7e7 1px;width: 110px;height: 90px;margin-top: 5px;}
#science{border: solid #7CDEB3 1px;width: 90px;height: 90px;border-radius: 100%;margin: 10px;}
#english{border: solid #DBD93F 1px;width: 90px;height: 90px;border-radius: 100%;margin: 10px;}
#social{border: solid #FF007B 1px;width: 90px;height: 90px;border-radius: 100%;margin: 10px;}
.studies {margin-top:10px;}
#course{margin:20px 10px;font-size: 0.8em;;line-height: 1.2;}
#social-science{margin:10px;font-size:18px;line-height: 1.2;}
.tab-content{margin-top: 20px;}

.badges{margin-top: 10px;}
.badges img{margin:10px 0px;}
.badges h2{font-size: 22px;}
.today-task span h2{padding-top: 30px; padding-bottom: 10px; border-bottom: solid #e5e5e5 1.3px;width: 100%;}
.task-time{ width: 100%;border-bottom: solid #e5e5e5 1.3px;padding-top:20px;}
.task-time p{font-size:19px;}
#session{padding-top: 10px;}
#nap-time p{font-size: 19px;color: #83d0c9;}
#lunch{border-bottom: none;}

.announcements{border:solid  #e5e5e5 1px;margin-top:20px;padding-bottom: 50px;}
.announcements p{margin-top: 20px;font-size: 20px;}
#link{text-align: left;padding-left: 35px;font-weight: 500;}
#link a{margin-bottom: 10px;text-decoration: none;color: #333333;}

.trend-post{border:solid  #e5e5e5 1px;margin-top:10px;}
.nidara-guide p{margin-top: 10px;font-size: 13px;margin-bottom: -10px;}
.nidara-guide h2{font-size: 18px;margin-top:12px;}

 ul.panel {padding: 0px 15px;max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;margin: 0px;outline: none;}
.accordion{padding: 10px;border-bottom:solid #CECECE 1.3px;margin: 0px 20px;}
.pre-nidara{padding: 10px;border-bottom:solid #CECECE 1.3px;margin: 0px 6px;}
.pre-nidara p{padding-left: 10px;}

.tip{margin-left:42px;font-style: normal;}
#pre-nidara{}
.text-justify{margin-top: 5px;}
.nav-tabs{padding-left: 25px;color: #333333;margin-top: 10px;}
.nav-tabs  li.active a, .nav-tabs li.active  a:focus, .nav-tabs li.active  a:hover{cursor: pointer;}
.nav-tabs li a {border-radius:0px !important;}

@media only screen and (max-width: 800px) {
    .tip{margin-left:47px;font-style: normal;}
    .text-justify{margin-top: -5px;}
    .row{margin-left: 0px;margin-right: 0px;}
    .nav-tabs  li{width: 100%;text-align: center;}
    .nav-tabs {border-bottom:none;padding-left:0px;}
    .dashboard{border-bottom:solid  #CECECE 1px;margin: 0px 15px;padding: 10px 0px;}
    .chld-dashboar{margin-bottom: 50px;}
    #down-arrow{margin: 8px -10px;}
    #social-science{margin:7px 0px;;font-size:18px;line-height: 1.2;}
    .nav-tabs  li.active  a, .nav-tabs  li.active  a:focus, .nav-tabs li.active  a:hover {border-color: #ddd #ddd;}
    #course{margin:25px 0px;font-size: 0.8em;;line-height: 1.2;}
    
}
@media only screen and (max-width: 1024px){
    
}
/* Acordeon styles */
.dropdown-tab{
  position: relative;
  max-width:100%;
  color: #fff;
  overflow: hidden;
  margin: 0px 12px; 
    
}
.dropdown-tab input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.dropdown-tab label {
  position: relative;
  display: block;
  line-height: 2;
  cursor: pointer;
  color: #333333;
  margin-bottom: 0px;
  text-align: left;
  padding: 8px 5px;
  font-weight: normal;
  border-bottom: solid #CECECE 1.3px;
}
.tab-content-menu {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
 
}
#referal{border-bottom: none;}
.dropdown-tab label a{color:#333333; }
.dropdown-tab label a:hover{text-decoration: none;}
.dropdown-tab1{max-width: 100%;margin: 0px}
.dropdown-tab1 label{padding-left: 13px;}
.dropdown-tab2 label{padding-left: 23px;}
.tab-content-menu ul{padding-left: 0px;}
.tab-content-menu ul li{list-style: none;text-align: left;
  padding:12px 22px;border-bottom: solid #CECECE 1.3px;margin: 0px 0px;}
 .tab-content-menu ul ul li{list-style: none;text-align: left;
  padding:12px 35px;border-bottom: solid #CECECE 1.3px;margin: 0px 0px;}
.tab-content-menu ul li a{color: #333333;}
.tab-content-menu ul li a:hover{text-decoration: none;}
/* :checked */
.dropdown-tab input:checked ~ .tab-content-menu {
  max-height: 65em;
}


/*popup page*/
.pop-image{width: 135px;height:135px;margin: 0px;}
.pop-image{padding: 15px;margin-top: 20px;}
.modal-body{min-height: 300px;}
input[type='password']{
    border: 1px solid #bbb;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 14px;
    padding: 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 180px;
    margin: 0px;
}
#login-parent{background: #333333 none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    font-family: "gillsanslight59465bc4d96ac";
    padding: 7px 65px;float: none;margin:0px;}
.pop-win{margin: 0px auto;}
#login-parent:hover{background: #83D0C9;}
#parent-account{display: none;}
#parent-login{cursor: pointer;}
.child-login{cursor: pointer;}


