.pop-image {
    width: 120px;
    height: 120px;
    margin: 0px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.page-header {
    padding-bottom: 0px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eee;
}
