<div class="col-md-12 row">
  <p><br></p>

  <h4>Announcement</h4>
</div>
<div id="register-page-form" class="col-md-12 col-lg-12 paddingless">
  <form id=formId (ngSubmit)="onSubmit(userReg)" #userReg="ngForm">
  <div>
     <div class="col-md-12 col-lg-12 paddingless">
        <p class="form-row ">
           <label for="reg_billing_first_name">Title <span class="required">*</span></label>
          </p>
           <p>
           <input type="text" [(ngModel)]="formData.title"  class="input-text text-only" name="billing_first_name" id="reg_billing_first_name" value="">

          <div class="clear"></div>
        <p><br></p>


        <p class="form-row form-row-first">
          <label for="start_date">Start Date <span class="required">*</span></label>
          <input [(ngModel)]="formData.start_date"  type="date" class="input-text" name="registration_number" id="registration_number" value="">

       </p>
       <p class="form-row form-row-last">
          <label for="End_date">End Date <span class="required">*</span></label>
          <input type="date"  [(ngModel)]="formData.end_date"  class="input-text" name="qualification" id="qualification" value="">

          <span id="email-val" class="bg-danger text-white error">
          </span>
       </p>
       <div class="clear"></div>
       <p><br></p>
       <p class="form-row form-row-first">
        <label for="reg_billing_phone">Announcement<span class="required">*</span></label>
       </p>
       <p>
        <textarea type="text" [(ngModel)]="formData.messages"  row="5" class="input-text number-only" name="billing_phone" id="reg_billing_phone" value=""></textarea>

     </p>


      </div>
           <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 paddingless">
              <p class="woocomerce-FormRow form-row form-row-last woocommerce-Button-2">
                 <input type="submit"    class="woocommerce-Button button" id="register-but" name="register" value="SAVE">
              </p>
           </div>
     <div *ngIf="_response.status" class="{{_response.alert}}">{{_response.message}}</div>
  </div>
  </form>

</div>

