<section class="section breadcrumb-section" >
  <div class="container">
  <div class="row">

  <div class="col-lg-12">
   <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
   <ul>
   <li>YOU ARE HERE:</li>
   <!-- Breadcrumb NavXT 5.7.1 -->
 <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home."href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
 <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">Editorial Policy</span><meta property="position" content="2"></span></li>
     </ul>
  </div>
  </div>

  </div>
  </div>
  </section>

  <div class="container">
    <div class="terms">
     <!-- <h5 style="color:#83D0C9;">Editorial Policy</h5>-->
             <div class="termsNavigation">

         </div>
           <div class="termsDescription">
         <h3>Nidara Websites Guides Section Editorial Policy V2.0</h3>
 <p>Nidara is a pioneering child development and education system that helps parents discover their child&#8217;s potential, do well in school and life.</p>
 <p>With the goal of improved child development and education literacy, the Nidara Guides section delivers thousands of pages of up-to-the-minute, authoritative content in English, along with interactive tools, and customized content for registered users.</p>
 <p>The articles found on NidaraChildren.com are produced and reviewed by subject-matter expert members in the fields of child development, family medicine, education, child psychology, neuro science, physical development, nutrition, technology), as well as the NidaraChildren.com Advisory Board to ensure they are consistent with industry guidelines, policy, child development initiatives, education initiatives, health initiatives, technology initiatives and standards of care.</p>
 <p>Certain sections of the Nidara Guides section on the website is strictly editorial. This means that we only feature products, places and concepts that we like and believe in.</p>
 <p>Occasionally we may include sponsored posts, but these will be clearly identified in line with our belief in clarity and authenticity. And, of course, we would still only work with a brand, product or experience that we would use or buy ourselves. Sponsors don&#8217;t write content, we write everything ourselves.</p>
 <p>No content is ever meant to demean, insult or hurt any of our registered users or their family.</p>
       </div>
 </div>
 </div>
