<div class="col-md-12 col-lg-12">
  <div class="col-lg-12">
    <h3>GRADING AND REPORTING FRAMEWORK</h3>
    <div class="row daily-development">
      <ul class="nav nav-tabs">
        <li routerLinkActive="active"><a routerLink="gradingviewall"  style="font-size:18px;">View Grading Reporting</a></li>
        <li routerLinkActive="active"><a routerLink="gradingaddnew"  style="font-size:18px;">Add New</a></li>
      </ul>
    </div>
  </div>
  <router-outlet>

  </router-outlet>
  <!-- <div class="tab-content">


  </div> -->
</div>
