<section class="section breadcrumb-section">
    <div class="container">
    <div class="row">

    <div class="col-lg-12">
     <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
     <ul>
     <li>YOU ARE HERE:</li>
     <!-- Breadcrumb NavXT 5.7.1 -->
   <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home." href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
   <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">Health (Whole Child Development)</span><meta property="position" content="2"></span></li>
       </ul>
    </div>
    </div>

    </div>
    </div>
    </section>
<div class="container">
  <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="homeBanner">
        <img style="width:100%" src="assets/web_img/80599506_l.jpg" alt="">
      </div>
  </div>
</div>
<div class="row" id="">
<div class="home-slide h-slide-1">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-float">
     <div class="slide-img">
                 <img src="assets/web_img/1.jpg" alt="">
              </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="slide-content">
          <div class="extraPadding"></div>
          <h2>WHOLE CHILD DEVELOPMENT APPROACH MATTERS</h2>
          <p>Research shows that a child’s health has a tremendous impact on their educational performance. So we give you healthy nutritional guidance to raise a happy and healthy child.</p>
              <div class="h-link"><br>
          <a class="s-explore" (click)="descover()" >EXPLORE HERE</a>
          </div>
            </div>
  </div>
</div>
</div>
<div class="row" id="explore">
<div class="home-slide ">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
     <div class="slide-img">
                 <img src="assets/web_img/change1.jpg" alt="">
              </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="slide-content">
          <div class="extraPadding"></div>
          <h2>BRAIN MATTERS</h2>
          <p>Research shows that your child’s brain is growing at its fastest between the ages of 3 – 8.  Based on a years of understanding of what enables strong brain development for children. Nidara supports their growth through nutrition and other child milestone based activities to ensure strong memory, attention, focus, cognitive thinking and planning.</p>
              <div class="h-link-button">
          <a  class="go-to-get-now" (click) = "downPage()"><button>GET NOW</button></a>
          </div>
            </div>
  </div>
</div>
</div>
<div class="row" id="">
<div class="home-slide h-slide-1">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-float">
     <div class="slide-img">
                 <img src="assets/web_img/2.jpg" alt="">
              </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="slide-content">
          <div class="extraPadding"></div>
          <h2>A HEALTHY BODY<br>MATTERS TOO</h2>
          <p>Your child’s physical development has a significant  bearing on their overall performance. Research shows that when children have a strong body, their overall performance in school improves too. Nidara guides your child only daily physical exercises to achieve their child developmental milestones along with nutrition guidance.</p>
              <div class="h-link-button">
          <a  class="go-to-get-now" (click) = "downPage()"><button>GET NOW</button></a>
          </div>
            </div>
  </div>
</div>
</div>
<div class="row" id="">
<div class="home-slide ">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
     <div class="slide-img">
                 <img src="assets/web_img/5.jpg" alt="">
              </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="slide-content">
          <div class="extraPadding"></div>
          <h2>SOCIAL &amp; EMOTIONAL DEVELOPMENT MATTERS</h2>
          <p>A stable emotional state has a significant impact on a child’s ability to cope with school, and life. Nidara guides your child on identifying and learning various behaviors for various situations and making cheerful friendships possible.</p>
              <div class="h-link-button">
          <a  class="go-to-get-now" (click) = "downPage()"><button>GET NOW</button></a>
          </div>
            </div>
  </div>
</div>
</div>
<div class="row" id="">
<div class="home-slide h-slide-1">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-float">
     <div class="slide-img">
                 <img src="assets/web_img/3.jpg" alt="">
              </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="slide-content">
          <div class="extraPadding"></div>
          <h2>NUTRITION MATTERS</h2>
          <p>For growing children, a whole child based nutrition is critical.  Nidara guides you and your child on nutrition to have on a daily basis to achieve strong brain, body and emotional development.</p>
              <div class="h-link-button">
          <a  class="go-to-get-now" (click) = "downPage()"><button>GET NOW</button></a>
          </div>
            </div>
  </div>
</div>
</div>
<div class="row" id="">
<div class="home-slide ">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
     <div class="slide-img">
                 <img src="assets/web_img/6.jpg" alt="">
              </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="slide-content">
          <div class="extraPadding"></div>
          <h2>NIDARA AND WHOLE CHILD DEVELOPMENT.</h2>
          <p>We believe in an integrated brain, body and emotional approach towards raising happy and healthy children.</p>
              <div class="h-link-button">
          <a href="/girl" class="go-to-get-now" (click) = "downPage()"><button>GET NOW</button></a>
          </div>
            </div>
  </div>
</div>
</div>

<!-- Contact Section -->
 <div class="homeContact home-contact">
          <h2>GIVE CHILDREN A SOLID FOUNDATION WITH NIDARA</h2>
    <div class="get-now-form">
        <div class="h-link-button">
          <a href="/girl" id="go-to-pricing"><button>GET NOW</button></a>
          </div>
    </div>
 </div>


</div>
<div id="downpage">
  <div class="container Parent" id="girlboy">
    <div class="pahe-header"></div>
    <div class="" id="downsection">
      <div class="col-md-12 col-md-12 row " id="layout-two-column">
         <div class="two_img"></div>
         <div class="two_img_row">
          <div routerLink="/girl" class="col-md-6 col-lg-6  col-img">
            <div id="">
               <img src="assets/web_img/Nidara-Children-Web-1.jpg" alt="">
            </div>
            <div class="col-md-12 col-lg-12 text-center">
               <h3>GIRL</h3>
               <p><span class="get-start" > GET STARTED </span></p>
            </div>
         </div>
         <div routerLink="/boy" class="col-md-6 col-lg-6  col-img">
            <div id="">
               <img src="assets/web_img/15072812_l-e1526458320974.jpg" alt="">
            </div>
            <div class="col-md-12 col-lg-12 text-center">
               <h3>BOY</h3>
               <p><span class="get-start" > GET STARTED </span></p>
            </div>
         </div>
         </div>
      </div>
   </div>
  </div>

</div>
