.but {
  background-color: #333;
  width: 350px;
  max-width: 100%;
  font-size: 16px;
  padding: 5px 0px;
  color: #fff;
  font-weight: bold;
  margin-top: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 0px;
  outline: 0px;
}
.but:hover{
  background: #83D0C9 ;
  transform: 0.4s;
}
.mge{
  font-size: 20px;
}
h1,.h1 {
  margin-top: 20px;
  margin-bottom: 28px;
  font-family: 'GillSansStd-Light';
}
#parentTypeEorr {
  float: left;
  display: none;
}

.top-line-1 {
  width: 35px;
  float: left;
  height: 35px;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 100%;
  position: relative;
  color: #fff;
}
