<section class="section breadcrumb-section">
  <div class="container">
  <div class="row">

  <div class="col-lg-12">
   <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
   <ul>
   <li>YOU ARE HERE:</li>
   <!-- Breadcrumb NavXT 5.7.1 -->
 <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home."href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
 <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">Our History</span><meta property="position" content="2"></span></li>
     </ul>
  </div>
  </div>

  </div>
  </div>
  </section>
  <div class="About Us" id="layout-container">
    <div id="layout-banner-bg">
      <div class="container">
              <div class="" id="layout-banner">
                  <div class="layout-banner">
                    <img class="img-responsive" src="assets/web_img/Nidara-Children-About-Us.png" alt="our History" title="our History"><div class="layout-banner-title"><h2>Our History</h2></div>              </div>
              </div>
          </div>
          <div class="">
                  </div>
    </div>
     <div class="container">



      <div class="row" id="layout-single-row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="text-center;">Our History</h2>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="float:right !important">
                  <div class="layout-image-single-row" style="text-align:center; padding-bottom:2vh;">
                                    <img class="img-responsive" src="assets/web_img/nidara-story-1.png" alt="">
                                      </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="layout-content-single-row" style="font-weight:500 !important;">
                    <p>Founded in 2012 by Shubha Janardhan and her father, Dr. Janardhan, Nidara Children is a pioneering child development system and quality education system for the modern parent and child.&nbsp; It gives children a solid foundation during their early childhood years and helps them discover their potential, do well in school and life.</p>
                    <p>Nidara helps parents own their child’s development, celebrates the magic of childhood and the inner genius that lies within each child between the ages of 3 and 7.</p>
                    <p>Shubha graduated from The Pennsylvania State University with a Bachelor of Science in Information Systems, special courses in Child Development and Family Studies and Children.  Shubha also completed special focus courses from Massachusetts Institute of Technology in Evaluation and Implementation of Educational Technology.</p>
                    <p>Dr. Janardhan, is a UN Diplomat and a senior Government of India official.  </p>
                    <!-- <p>The Nidara child development system is a supplementary system and it aids children between the ages of 3 and 8.&nbsp;&nbsp;All our systems go on a long journey to ensure that we maintain this outstanding quality for the wholesome development of young children.&nbsp; They are designed to help the child to grow happily and thrive in their early childhood years.</p> -->
                  </div>
              </div>
          </div>


      <div class="row" id="layout-single-row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="float:right !important">
                  <div class="layout-image-single-row" style="text-align:center; padding-bottom:2vh;">
                                    <img class="img-responsive" src="assets/web_img/Timeline-teal-Nov-09-2017.png" alt="">
                                      </div>
              </div>

          </div>





    </div>

    </div>
