<div class="col-md-12 col-lg-12">
  <h3>Edit Coupon</h3>
</div>
<div class="col-md-6 col-lg-6">
  <form id=formId #coupon = ngForm (ngSubmit)="onSubmit(coupon)" >
    <ng-container *ngFor="let formData of coupons" >
        <div class="form-group">
            <label><h4>Enter Coupone Name</h4></label>
          <input name="coupon_name"  OnlyString = "true" type="text" [(ngModel)]="formData.discount_coupon_name" class="from-control" required>
        </div>
    <div class="form-group">
        <label><h4>Enter Coupone Code</h4></label>
      <input name="coupon_code" type="text" minlength="0" maxlength="20" style="text-transform: uppercase" [(ngModel)]="formData.coupon_code" class="from-control" required>
    </div>
    <div class="form-group col-md-12 col-lg-12 paddingless">
        <div class="form-group col-md-12 col-lg-12 paddingless">
          <label><h4>Select The Date</h4></label>
        </div>
        <div class="col-md-6 col-lg-6 paddingless">
            <label><h4>Start Date</h4></label>
            <input type="date" name="dateBody-1" min="{{today | date:'yyyy-MM-dd'}}" style="text-transform: uppercase" [(ngModel)]="formData.discount_valid" class="from-control" required>
        </div>
        <div class="col-md-6 col-lg-6 paddingless">
            <label><h4>End Date</h4></label>
            <input type="date" name="dateBody-2" min="{{formData.discount_valid | date:'yyyy-MM-dd'}}" style="text-transform: uppercase" [(ngModel)]="formData.discount_valid_end" class="from-control" required>
        </div>
    </div>
    <div class="form-group">
        <label><h4>Select Discount Option</h4></label>
      <select name="disopt" id="" [(ngModel)]="formData.discount_type">
        <option value="amount">Fixed Amount</option>
        <option value="percentage">Percentage</option>
      </select>
    </div>
    <div class="form-group">
        <label><h4>Enter The Value</h4></label>
        <input name="amont" type="text" OnlyNumber="true" [(ngModel)]="formData.discount_value" class="from-control" required>
    </div>
    <div class="form-group">
        <label><h4>Enter The Coupon Limit</h4></label>
        <div class="col-md-12 col-lg-12 paddingless">
        <div class="col-md-5 col-lg-5 paddingless">Usage limit per user</div>
        <div class="col-md-7 col-lg-7 paddingless"><input name="limit" placeholder="Unlimited usage" type="text" OnlyNumber="true" [(ngModel)]="formData.discount_limit" class="from-control" required></div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 paddingless">
        <input type="submit" class="btn-save" [disabled]="!coupon.form.valid" value="SAVE">
    </div>
    <div *ngIf="_response.status" class="{{_response.alert}}">{{_response.message}}</div>
  </ng-container>
  </form>
</div>

