<!-- <div class="col-md-12">
  <p class="" (click) = "paly()"> click  </p>
</div> -->
<div id="main-dev" [ngStyle]="{'background-image': 'url(' + getBg + ')'}">
    <div id="tinawelcome">
      <div class="tinawelcome" >
        <div class="col-md-12 col-lg-12">
          <div class="col-md-6 col-lg-6">
            <div class="rectangle1" (click)="happy()"  style="background-image:url('/assets/games/rect0001.png')">
              <img src="assets/games/face1.png" alt="">
            </div>
            <div class="rectangle1_sub" style="background-image:url('/assets/games/rect0003.png')">
              <img src="assets/games/face1.png" alt="">
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
              <div class="rectangle2" (click)="sad()" style="background-image:url('/assets/games/rect0001.png')">
                <img src="assets/games/face2.png" alt="">
              </div>
              <div class="rectangle2_sub"  style="background-image:url('/assets/games/rect0003.png')">
                <img src="assets/games/face2.png" alt="">
              </div>
          </div>
        </div>
    </div>
    </div>
</div>
