.game-title{
  font-weight: bold;
  font-family:"century-gothic";
}
h4{
font-family: 'GillSansStd-Light';
}
#nidarasession{
display: none;
}
#button-one{
display: none;
position: relative;
width: 100%;
margin: auto;
height: 100%;
top: 0px;
padding-top:150px;
}
#wake-up{
display: none;
position: relative;
width: 100%;
margin: auto;
height: 100%;
top: 0px;
padding-top:150px;
}
#sleep{
display: none;
position: relative;
width: 100%;
margin: auto;
height: 100%;
top: 0px;
padding-top:150px;
}
#button-thiree{
display: none;
position: relative;
width: 100%;
margin: auto;
height: 100%;
top: 0px;
padding-top:150px;
}
#button-two{
display: none;
position: relative;
width: 100%;
margin: auto;
height: 100%;
top: 0px;
padding-top:150px;
}
#tinaSleep{
display: none;
}
#tinaWakeUp{
display: none;
}
.tinawelcome {
  position: relative;
  width: 800px;
  height: 600px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
#tinawelcome{
display: block;
}
#mobile-dev{
display: block;
background: #fff;
position: absolute;
top:-100px;
left: 0;
width: 100%;
height: auto;
}
#main-dev{
display: none;
}



button.go-to-back {
  background: #333;
  border: 0px solid;
  color: #fff;
  width: 250px;
  text-align: center;
}
button.go-to-back:hover{
background: #83c9c0;
}

.content span {
font-size: 18px;
}
.navbar-brand {
-webkit-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
float: none !important;
text-align: center;
margin: auto;
height: 160px;
}
.navbar-brand {
text-align: left;
width: 150px;
}

div#center-div {
margin: 50px auto;
}

.content {
padding: 30px 50px 60px 50px;
}


@media (min-width: 768px) {
.tinawelcome {
  position: relative;
  width: 800px;
  height: 600px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
#main-dev{
display: block;
}
#mobile-dev{
display: none;
}
}
@media (min-width: 992px) {
.tinawelcome {
  position: relative;
  width: 800px;
  height: 600px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}
#main-dev{
display: block;
}
#mobile-dev{
display: none;
}
}
@media (min-width: 1200px) {
.tinawelcome {
  position: relative;
  width: 800px;
  height: 600px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  padding-top: 210px;
}
#main-dev{
display: block;
}
#mobile-dev{
display: none;
}
}


.rectangle1 {
  display:block;
  width: 210px;
  height: 210px;
  text-align: center;
  float: right;
  margin-right: 50px;
  padding-top: 15px;
  cursor: pointer;
}
.rectangle2 {
  display:block;
  width: 210px;
  height: 210px;
  text-align: center;
  float: left;
  margin-left: 50px;
  padding-top: 15px;
  cursor: pointer;
}
.rectangle1_sub {
  display:none;
  width: 210px;
  height: 210px;
  text-align: center;
  float: right;
  margin-right: 50px;
  padding-top: 15px;
}
.rectangle2_sub {
  display:none;
  width: 210px;
  height: 210px;
  text-align: center;
  float: left;
  margin-left: 50px;
  padding-top: 15px;
}
