<h2>CAREGIVER GUIDE</h2>
<div *ngIf="_response.status" class="alert alert-success">{{_response.message}}</div>
                        <p>ENABLE CAREGIVER INSTRUCTIONS</p>
                <!-- <form  #caregiverGuideForm="ngForm" (ngSubmit)="caregiverGuideFormSubmit(caregiverGuideForm)">>
                            <div class="form-fields">
                                <div class="form-response">
                                <p id="guide">This is to give your child’s caregiver a step by step guide on how to use Nidara and help your child while you are away at work.</p>
                                <div class="row" >
                                    <div class="col-lg-6 col-md-6 colsm-12 col-xs-12">
                                        <label>Email</label>
                                        <input type="text" name="email" [(ngModel)]="formData.email" required>
                                    </div>
                                    </div>
                                 </div>
                                    <div>

                                 <input type="submit" [disabled]="!caregiverGuideForm.form.valid" value="SEND" name="submit">
                                    </div>
                                </div>

               </form> -->
