<section class="section breadcrumb-section">
  <div class="container">
  <div class="row">

  <div class="col-lg-12">
   <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
   <ul>
   <li>YOU ARE HERE:</li>
   <!-- Breadcrumb NavXT 5.7.1 -->
 <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home."href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
 <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">Founders’ Welcome</span><meta property="position" content="2"></span></li>
     </ul>
  </div>
  </div>

  </div>
  </div>
  </section>
  <div class="Founders’ Welcome" id="layout-container">
    <div id="layout-banner-bg">
      <div class="container">
              <div class="" id="layout-banner">
                  <div class="layout-banner">
                    <img class="img-responsive" src="assets/web_img/founders-banner.jpg" alt="Founders’ Welcome" title="Founders’ Welcome"><div class="layout-banner-title"><h2>Founders’ Welcome</h2></div>              </div>
              </div>
          </div>
          <div class="">
                  </div>
    </div>
     <div class="container">




    <div class="row" id="layout-two-column">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="layout-heading text-center"><h2>WELCOME !</h2></div>
          <div class="layout-content-single-tow-column">
                <p>Hi there!</p>
    <p>It is our pleasure to welcome you to one of the most pioneering child development systems’ around the world that is committed to giving children the best start in life between the ages of 3 and 8. As child development enthusiasts, we know that a whole child (health, education and interest development) and child friendly approaches are important and because no two children are alike personalization is critical!</p>
    <p>All our systems go on quite a journey to ensure outstanding quality and a great ease of use for little children. Our team creates concepts and designs based on rigorous research and international standards at our studio, using specific standards and child development milestones, that help children grow as they should. We then work with carefully selected partners worldwide, to turn our interventions into the beautiful system you see here.</p>
    <p>We’re really proud of our child development system – no matter what you’re looking for, from cognitive development to math milestones, to interest development, you’ll find that our systems take the whole child into account.&nbsp; Not just that, you and your children will love using it on a daily basis too!</p>
    <p>Happy raising!</p>
    <p>P.S. Don’t forget you can sign up to our <a href="http://www.fb.com/nidarachildren">Facebook</a> page, for exclusive offers and regular updates on everything that’s going on at Nidara-Children.</p>
    <p>&nbsp;</p>
    <p>Warm Regards,</p>
    <p>Dr. Nadadur Janardhan, Founder and Shubha Janardhan, Co Founder, Nidara Children</p>
            </div>
                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center tc-link-button">
               <div class="h-link-button">
                <a href="/about-dr-nadadur-janardhan/" class="go-to-get-now"><button>ABOUT DR. NADADUR JANARDHAN</button></a>
                </div>
                </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center tc-link-button">
               <div class="h-link-button">
                <a href="/about-shubha-janardhan/" class="go-to-get-now"><button>ABOUT SHUBHA JANARDHAN</button></a>
                </div>
                </div>

        </div>
    </div>









    </div>

    </div>
