<ul class="dashboard">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">
            <li>PRODUCTS <span class="icon"></span></li></a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <a routerLink="add-product"><li>ADD NEW PRODUCTS</li></a>
            <a routerLink="../nc-admin" ><li>VIEW PRODUCTS</li></a>
        </div>
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">
              <li>COUPONS <span class="icon"></span></li></a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <a routerLink="add-new-coupon"><li>ADD NEW COUPON</li></a>
              <a routerLink="view-coupons"><li>VIEW COUPONS</li></a>
          </div>
        </div>
       <a routerLink="Orders"><li>ORDERS</li></a>
      </div>

  </ul>

