<section class="section breadcrumb-section">
  <div class="container">
  <div class="row">

  <div class="col-lg-12">
   <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
   <ul>
   <li>YOU ARE HERE:</li>
   <!-- Breadcrumb NavXT 5.7.1 -->
 <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home."href="/Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
 <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">Cookie Policy</span><meta property="position" content="2"></span></li>
     </ul>
  </div>
  </div>

  </div>
  </div>
  </section>
  <div class=container>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>&nbsp;</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>Nidara
      Website Cookie Policy V1.0</span></p>


      <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;'>Cookies</span></b><span lang=EN-US style='font-size:12.0pt;
      '><br>
      <br>
      <b>What are cookies?</b><br>
      <br>
      A cookie is a piece of data that is placed on an internet user's computer
      memory. The information the cookie contains is set by a website's server and it
      can be used when the user visits the website.<br>
      <br>
      Cookies are designed to remember things that an internet user has done whilst
      on a website in the past, which can include putting products in a basket,
      logging in, or clicking on links.<br>
      <br>
      Cookies are not dangerous. They are not computer programs and cannot be used to
      circulate viruses.<br>
      <br>
      The cookies we use on our website are used in many ways, including:</span></p>

      <ul style='margin-top:0cm' type=disc>
       <li class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>To
           keep a record of the products you've put in your shopping bag for next
           time you visit</span></li>
       <li class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>To
           make personalised product recommendations, based upon your previous times
           you've shopped on the website</span></li>
       <li class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>To
           remember your preferences</span></li>
       <li class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>To
           find out what the website doesn't do well and make improvements to it in
           future</span></li>
       <li class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>Allow
           you to share pages with social networks like Facebook; and</span></li>
       <li class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>Make
           sure advertising on other websites is relevant to you</span></li>
      </ul>

      <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;'>&nbsp;</span></b></p>

      <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;'>Types of cookies</span></b><span lang=EN-US
      style='font-size:12.0pt;'><br>
      <br>
      <b>Session (or Transient) Cookies</b><br>
      Session cookies are stored in your computer's memory for the length of your
      browsing session. They become inaccessible after the session has been inactive
      for a time and are automatically deleted from your computer when the browser is
      closed. They allow you to move from page to page without having to log-in
      repeatedly.<br>
      <br>
      <b>Persistent (or Permanent) Cookies</b><br>
      Persistent cookies are stored on the user's computer memory and are not deleted
      when the browser is closed. They are used to keep your preferences for the
      website, so that they will be remembered for next time you visit the website.
      They are also used to collect information about the numbers of visitors, the
      average time spent on a particular page and analyse shopping behaviour on the
      website. This information is used to find out how the well the website works
      and where it can be improved.<br>
      <br>
      <br>
      <b>Advertising on other websites</b><br>
      The data contained in the cookie used in these adverts is anonymous and doesn't
      contain any of your personal details.<br>
      <br>
      </span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>Cookies
      are used to advertise relevant products to you on other websites, based on the
      products and categories you looked at on www.nidarachildre.com. They may be
      displayed by many agencies.</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'><br>
      <b>Sharing with social networks</b><br>
      If you use the buttons that allow you to share products and content with your
      friends via social networks like twitter and facebook, these companies may set
      a cookie on your computer memory. Find out more about these here:<br>
      https://www.facebook.com/about/privacy/&nbsp;<br>
      http://twitter.com/privacy&nbsp;<br>
      https://policies.google.com/?hl=en</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'><br>
      <b>How we use cookies</b><br>
      <br>
      The Nidara-Children site uses cookies mostly to remember what you have added to
      your shopping bag. In order to make full use of the Nidara-Children site,
      including shopping online, your computer, tablet or mobile phone will need to
      accept cookies. The cookies we use do not store sensitive information such as
      your personal or payment details.<br>
      <br>
      <b>Which cookies does nidarachildren.com&nbsp; use?</b><br>
      <br>
      Cookies used by nidarachildren.com (1st Party Cookies).<br>
      <br>
      <br>
      .ASPXANONYMOUS&nbsp; - Identifies the user as an anonymous user (i.e. not
      logged into the website using their personal account)<br>
      <br>
      Language - Holds the ÒlocaleÓ (country &amp; language) of the user so that the
      website can present content in the appropriate language.<br>
      <br>
      CartId&nbsp; - Holds a unique code which identifies the userÕs shopping cart.</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>&nbsp;</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>RecentlyViewed
      - Keeps a list of the userÕs recently viewed products, in order that this list
      can be displayed within the website.<br>
      <br>
      WishlistId - Holds a unique code which identifies the userÕs Òwish listÓ. A
      wish list is a list of products the user wishes to remember, i.e.<br>
      store on the website and recall on a future visit.<br>
      <br>
      <br>
      authticket&nbsp; - When a user logs into the website using their personal
      account, this cookie holds their Òauthentication ticketÓ.<br>
      <br>
      authentication - When a user logs into the website using their personal
      account, this cookie holds the method by which they logged in.<br>
      <br>
      portalaliasid -&nbsp; When a user logs into the website using their personal
      account, this cookie holds a unique code identifying the website. This is used
      as an additional security method to protect the website from unauthorised
      access.</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'><br>
      portalroles&nbsp; - When a user logs into the website using their personal
      account, this cookie holds a unique code identifying what Òuser rolesÓ the user
      belongs to. User roles are used to<br>
      differentiate groups of users (e.g. customers vs. administrators) in order for
      the website to present different options to them.<br>
      <br>
      cUserName - When a user logs into the website using their personal account,
      this cookie holds their username/email address. This is used to pre-fill the
      username/email address field on the login<br>
      page on their next visit. This is done by the browser.</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>&nbsp;</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>Session
      Cookies Ð This saves the userÕs current session which will get erased once you
      close the browser.</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>&nbsp;</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>Nidara-Children
      may use any of these cookies listed above or may add more as it deems fit.</span></p>

      <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt'>&nbsp;</span></b></p>

      <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;'>Google Analytics</span></b><span lang=EN-US
      style='font-size:12.0pt;'><br>
      <span><br>
      </span>A behavioural tracking service that helps us find out what can be
      improved on the website and how important it is.<br>
      __utma (expires in 730 days)<br>
      __utmb (expires within a day)<br>
      __utmc (Date not set)<br>
      __utmz (expires in 182 days)</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>&nbsp;</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>Nidara-Children
      may use these at any time.</span></p>

      <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;'>&nbsp;</span></b></p>

      <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;'>Cookies used by&nbsp; (3rd Party Cookies)</span></b><span
      lang=EN-US style='font-size:12.0pt;'><br>
      <br>
      Fast Thinking - Fast Thinking uses cookies to create adaptive, personalized
      banners that display relevant offers (such as recommendations of products that
      you might be interested in) when you visit other selected websites.<br>
      Add this - __atuvc Used to make sure the user sees an updated Òshared counterÓ
      if they share a page.</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>Nidara-Children
      may use this at any time.<br>
      <span ><br>
      </span><b>Google Analytics</b><br>
      <br>
      The website analytics service provided by Google also uses cookies to help the
      website analyse how the site is used. The information generated by the cookie
      about your use of the Nidara-Children website will be transmitted to and stored
      by Google on servers in the United States. Google will use this information for
      the purpose of evaluating your use of the website, compiling reports on website
      activity for website operators and providing other services relating to website
      activity and Internet usage. Google may also transfer this information to third
      parties where required to do so by law, or where such third parties process the
      information on Google's behalf. Google will not associate your IP address with
      any other data held by Google.<br>
      <br>
      <b>Third Party Cookies</b><br>
      <br>
      When you visit Nidara-Children you may notice some cookies that aren't related
      to Nidara-Children If you go on to a web page that contains embedded content,
      for example from YouTube, you may be sent cookies from these websites. We don't
      control the setting of these cookies, so we suggest you check the third-party
      websites for more information about their cookies and how to manage them.<br>
      <br>
      <b>Banner Advertising on other websites</b><br>
      <br>
      Please be assured that the data contained in the cookie used in these adverts
      is completely anonymous and doesn't contain any of your personal details.<br>
      <br>
      <b>Managing Cookies</b><br>
      <br>
      Please note that by deleting our cookies or disabling future cookies you may
      not be able to access certain areas of the Nidara-Children site or process an
      order online. You will be able to delete existing cookies or block future
      cookies through your browser Ð please note different browsers have different
      procedures for this. More information on deleting or controlling cookies is
      available at www.AboutCookies.org.&nbsp;<br>
      <br>
      <b>What happens if I opt out of all cookies?</b><br>
      <br>
      If you opted out of all cookies set by nidarachildren.com and associated
      websites, then you will not be able to place an order on our website. You will,
      however, still be able to browse our website.<br>
      <br>
      <b>How do I opt out of cookies?</b><br>
      You can manage the cookies that you allow on your computer through the internet
      browser that you use. You can also ask to be alerted every time a cookie is
      offered. There are instructions on how to manage your cookies using the most
      popular internet browsers below:<br>
      &nbsp;Find out which internet browser you use<br>
      <br>
      On a PC: click on 'Help' at the top of your browser window and select 'About'<br>
      On an Apple Mac: click on the Apple menu and select 'About' (make sure the
      browser is open)&nbsp;<br>
      &nbsp;Opting out of cookies in Internet Explorer<br>
      <br>
      Internet Explorer allows you to select the level of cookie filter on the basis
      of the source of the cookie and whether the source has a privacy policy.<br>
      <br>
      Choose 'Tools'<br>
      Click on 'Internet Options'<br>
      Click the 'Privacy' tab<br>
      Move the slider to choose your settings<br>
      For more detailed privacy settings click on 'Advanced'<br>
      &nbsp;Opting out of cookies in Safari<br>
      <br>
      Choose 'Preferences' from Safari menu<br>
      Select 'Security'<br>
      Cookie settings are shown<br>
      Choose your settings<br>
      &nbsp;Opting out of cookies in Google Chrome<br>
      <br>
      As a default, Google Chrome allows all cookies. You can manage the behaviour of
      first-party and third-party cookies or even block them completely.<br>
      <br>
      Click on the 'Tools' menu<br>
      Select 'Options'<br>
      Click the 'Under the Bonnet' tab<br>
      Find the 'Privacy' section<br>
      Click 'Content settings'<br>
      Click the 'Cookie settings' tab and choose your settings<br>
      &nbsp;Opting out of cookies in Mozilla Firefox<br>
      <br>
      You can configure which sites are allowed to set cookies, how long to keep them
      for, and view and manage your existing cookies.<br>
      <br>
      Click on 'Menu', then 'Options'<br>
      Select 'Privacy'<br>
      Select 'Cookies'<br>
      Choose your settings<br>
      &nbsp;Opting out of cookies in AOL<br>
      <br>
      From the AOL toolbar, select 'Settings'<br>
      Select 'Internet Options'<br>
      Select 'Use your Internet Explorer Settings to set advanced browser options'<br>
      Select the 'Privacy' tab<br>
      Select 'Advanced'<br>
      Deselect override automatic cookie handling button<br>
      Choose your settings<br>
      Further information about online privacy<br>
      <br>
      You may also want to read our privacy policy, which governs how and when we use
      your personal data. You can also find out more information about cookies from
      the websites below:<br>
      <br>
      <b>youronlinechoices.eu</b></span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>On
      this website you'll find information about how behavioural advertising works,
      further information about cookies and the steps you can take to protect your
      privacy on the internet.</span></p>

      <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;'>aboutcookies.org</span></b></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>A
      guide to deleting and controlling cookies in many of the internet browsers
      available.</span></p>

      <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;'>networkadvertising.org/managing/opt_out.asp</span></b></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>A
      tool that allows users to opt out of behavioural advertising delivered by its
      member companies.</span></p>

      <p class=MsoNormal><b><span lang=EN-US style='font-size:12.0pt;'>ico.org.uk/for_the_public/topic_specific_guides/online/cookies</span></b></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>This
      information has been written by the UKÕs independent authority set up to uphold
      information rights in the public interest. dd&gt;</span></p>

      <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;'>&nbsp;</span></p>

      </div>
