th tbody {
  width: 100%;
  float: left;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  padding: 0px;
}
tbody th tbody tr{
  width: 100%;
  float: left;
  border: 1px solid #e8e8e8;
  border-collapse: separate;
  padding: 8px;
}
thead tr th tbody tr{
  padding: 8px;
  width: 100%;
  float:left;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}
