<section class="section breadcrumb-section">
  <div class="container">
  <div class="row">

  <div class="col-lg-12">
   <div class="breadcrumb-block clearfix" typeof="BreadcrumbList" vocab="https://schema.org/">
   <ul>
   <li>YOU ARE HERE:</li>
   <!-- Breadcrumb NavXT 5.7.1 -->
 <li class="home"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Home." href="../Home" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span></li>
 <li class="current_item"><span property="itemListElement" typeof="ListItem"><span property="name">Educators</span><meta property="position" content="2"></span></li>

     </ul>
  </div>
  </div>

  </div>
  </div>
  </section>

   <div class="row" id="home-page-banner">
   <div class="container">
           <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="layout-banner">
               <div class="layout-banner">
                 <img class="img-responsive" src="assets/web_img/banner.jpg" alt="Educators" title="Educators"><div class="layout-banner-title" align="center">
          <h2>CHILDREN WILL LOVE COMING TO YOUR SCHOOL</h2>
          <p  ><span (click)="derctive()" id="find-out">FIND OUT WHY</span></p>
          </div>              </div>
           </div>
   </div>
       </div>

 <div class="container" id="frontpage-container">
 <div class="row" id="part-2">
 <div class="home-slide h-slide-1">
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-float">
        <div class="slide-img">
                    <img src="assets/web_img/Nidara-Children-Web-1-1.jpg" alt="">
                 </div>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       <div class="slide-content">
                         <h2>THE EARLY CHILDHOOD YEARS SEE THE FASTEST RATE OF BRAIN DEVELOPMENT.</h2>
             <p>Introducing the future of potential development.<br>
 Get a peek at how we’re combining science, technology, child development, learning, art and nutrition to help your child reach their potential.</p>
     <div class="h-link-button">			<a  class="learn-more" (click) = "downSection()" onclick="smoothScrollToContent(this.id)" id="2"></a>
                                <a  class="go-to-get-now"><button routerLink="/contact-us">GET NOW</button></a>
             </div>        </div>
     </div>
 </div>
 </div>
 <div class="row" id="part-3">
 <div class="home-slide ">
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
        <div class="slide-img">
                    <img src="assets/web_img/Nidara-Children-Web-2.jpg" alt="">
                 </div>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       <div class="slide-content">
                         <h2>EVERY CHILD HAS A UNIQUE DEVELOPMENT PORTRAIT.</h2>
             <p>So we’re customizing how they can reach<br>
 their potential in 3 core areas.</p>
     <div class="h-link-button">			<a  class="learn-more" (click) = "downSection()"  id="3"></a>
                                <a  class="go-to-get-now"><button routerLink="/contact-us">GET NOW</button></a>
             </div>        </div>
     </div>
 </div>
 </div>
 <div class="row" id="part-4">
 <div class="home-slide h-slide-1">
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-float">
        <div class="slide-img">
                    <img src="assets/web_img/Nidara-Children-Web-4.png" alt="">
                 </div>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       <div class="slide-content">
                         <h2>GIVE PERSONALIZED<br> LEARNING</h2>
             <p>We know that every child learns their own way and at their own pace. So we personalize your child’s learning experiences to suit their pace and abilities.</p>
 <p>Nidara’s standards based international 21st century curriculum is aligned to the most current recommendations of professional associations in the United States, and collaboratively developed with faculty to ensure appropriate challenge and rigor.</p>
     <div class="h-link-button">			<a href="../personalized-learning" class="learn-more" (click) = "downSection()" onclick="smoothScrollToContent(this.id)" id="4"></a>
                                <a  class="go-to-get-now"><button routerLink="/contact-us">GET NOW</button></a>
             </div>        </div>
     </div>
 </div>
 </div>
 <div class="row" id="part-5">
 <div class="home-slide ">
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
        <div class="slide-img">
                    <img src="assets/web_img/homeSlide4-1.jpg" alt="">
                 </div>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       <div class="slide-content">
                         <h2>HEALTH IMPACTS LEARNING.</h2>
             <p>A high performing child needs a whole child approach that includes solid brain, body and emotional development at this critical age.</p>
 <p>So we give daily nutritional, physical, neural, and emotional interventions to ensure that children in your school are supported in a healthy manner for comprehensive development.</p>
     <div class="h-link-button">			<a href="../health-whole-child-development" class="learn-more" (click) = "downSection()" onclick="smoothScrollToContent(this.id)" id="5"></a>
                                <a  class="go-to-get-now"><button routerLink="/contact-us">GET NOW</button></a>
             </div>        </div>
     </div>
 </div>
 </div>
 <div class="row" id="part-6">
 <div class="home-slide h-slide-1">
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-float">
        <div class="slide-img">
                    <img src="assets/web_img/Nidara-Children-Web-3.png" alt="">
                 </div>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       <div class="slide-content">
                         <h2>ENCOURAGE<br> INTEREST<br> DISCOVERY</h2>
             <p>Every child has a talent that is inherent in them.</p>
 <p>Nidara guides you a systematic way to give the children in your school an the opportunity to explore and discover their true interests.</p>
     <div class="h-link-button">			<a href="../interest-development" class="learn-more" (click) = "downSection()" onclick="smoothScrollToContent(this.id)" id="6"></a>
                                <a  class="go-to-get-now"><button routerLink="/contact-us">GET NOW</button></a>
             </div>        </div>
     </div>
 </div>
 </div>
 <div class="row" id="part-7">
 <div class="home-slide ">
 <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ">
        <div class="slide-img">
                    <img src="assets/web_img/Child-Portrait.png" alt="">
                 </div>
     </div>
     <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
       <div class="slide-content">
                         <h2>TRACK EVERY CHILD'S<br> DEVELOPMENT WITH OUR<br> POWERFUL CHILD DEVELOPMENT<br> PORTRAITS.</h2>
             <p>Nidara Development Portraits is a comprehensive record of a child’s developmental progress in health (child development), learning and<br>
 interest development.<br>
 With our powerful insights of every child you can personalize the development of every child and give him or her the best start to life.<br>
 Nidara Development Portraits allows educators to spend time on what matters most to create the highest quality child development experience in the years that matter most.</p>
     <div class="h-link-button">            <a  class="go-to-get-now"><button routerLink="/contact-us">GET NOW</button></a>
             </div>        </div>
     </div>
 </div>
 </div>
 <div class="row" id="part-8">
 <div class="home-slide h-slide-1">
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-float">
        <div class="slide-img">
                    <img src="assets/web_img/Nidara-Children-Web-5.png" alt="">
                 </div>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
       <div class="slide-content">
                         <h2>ENGAGE WITH<br> PARENTS IN<br> MEANINGFUL WAYS.</h2>
             <p>Nidara offers greater transparency for parents, with multiple pathways for them to easily communicate with educators and become active participants in their child’s health and development and learning.</p>
 <p>With Nidara, you can focus on what matters most and improve parent engagement outcomes.</p>
     <div class="h-link-button">			<a  class="learn-more" (click) = "downSection()" onclick="smoothScrollToContent(this.id)" id="8"></a>
                                <a  class="go-to-get-now"><button routerLink="/contact-us">GET NOW</button></a>
             </div>        </div>
     </div>
 </div>
 </div>

 <div class="row" id="top-15-reason">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="top-reason-heading">
       <h2 class="text-center">TOP 15 REASONS TO GET NIDARA</h2>
     </div>
 </div>

 <div id="text-carousel" class="carousel slide" data-ride="carousel">
     <div class="row">
         <div class="col-xs-offset-2 col-xs-8">
             <div class="carousel-inner" id="top-reasons">
                                         <div class="item">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>MAKE YOUR BEST DECISION FOR WHOLE CHILD DEVELOPMENT &amp; LEARNING</h3>
                                             <p>Partnering with Nidara can help your school stay at the forefront, engage parents, and increase admissions.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>WHOLE CHILD DEVELOPMENT</h3>
                                             <p>Ensure whole child development at your school. Research is clear. Children who are raised with the whole child approach of keeping the brain, body and emotions grow up healthier and perform better in school and life.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>OUTSTANDING CHILD DEVELOPMENT &amp; RESULTS</h3>
                                             <p>Nidara is an outcome and evidence-based system. Each child’s interaction is recorded and patterns on the child’s development milestones are measured, monitored and managed.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>PERSONALIZED LEARNING</h3>
                                             <p>Make learning personal. Every child is different. Adapt the learning to the child’s ability based on the patterns with adaptive learning and guided learning.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>INTEREST EXPLORATION</h3>
                                             <p>With a rigorous concept-based curriculum allows, allow children at your school to connect, explore, and relate through their own interests. Encourage exploration to discover their passion pathways.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>INSPIRING LEARNING METHODS</h3>
                                             <p>Through an approach that brings different learning methods which are outcome based and a focus on exploration, inquiry and self-guided learning, encourage children to investigate, and learn about things that genuinely matter to them.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>EXTRAORDINARY CARE</h3>
                                             <p>The evidence is compelling. The little details matter and with Nidara, pay extraordinary attention to how young children use technology in safe digital environments to achieve their developmental and learning goals.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>DEVELOP TEACHER-CHILD RELATIONSHIPS</h3>
                                             <p>We understand the importance of engaged teachers in a child’s life. So we use our daily tips for activity based interactions.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>NURTURE PARENT-CHILD RELATIONSHIPS</h3>
                                             <p>With our Nidara Daily Tips, nurture a solid parent-child relationship during the early childhood years.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>TRIED &amp; TRUE HISTORY</h3>
                                             <p>For over a decade, Nidara has created its systems through research and development work and transformed the real-life stories of more than thousands of children worldwide.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item active">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>COMMITTED TO INNOVATION</h3>
                                             <p>The world is changing rapidly. Partner with Nidara to take advantage of its innovative ways to prepare children for the unknown future and implement revolutionary flexibility to make that possible.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item ">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>NIDARA SPIRIT</h3>
                                             <p>The heart of a Nidara way of giving children a solid early childhood foundation has everything to do with options, choices and possibilities by exploring courageously.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item ">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>CULTIVATING EXCEPTIONAL THINKERS</h3>
                                             <p>The foundation matters. With Nidara, help the children in your school to think about topics and issues in a critical manner right from the early childhood years.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item ">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>CULTURE OF EXCELLENCE</h3>
                                             <p>Encourage children to pursue excellence in any endeavour they choose with Nidara. When children like doing what they are doing and understand why they are doing it, every child showcases high levels of learning and excellence follows.</p>
                                         </div>
                                     </div>
                                 </div>
                                                 <div class="item ">
                                     <div class="carousel-content">
                                         <div>
                                         <h3>Child Safe Digital Environment</h3>
                                             <p>Nidara technology and architecture ensure that children interact with child safe digital environments.</p>
                                         </div>
                                     </div>
                                 </div>
                           </div>
         </div>
             </div>
             <a class="left carousel-control" href="#text-carousel" data-slide="prev">
             <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
           <a class="right carousel-control" href="#text-carousel" data-slide="next">
             <i class="fa fa-angle-right" aria-hidden="true"></i>
           </a>
      <div class="">
           <ol class="carousel-indicators carousel-indicators-numbers">
                       <li data-target="#text-carousel" data-slide-to="0" class="">1</li>
                         <li data-target="#text-carousel" data-slide-to="1" class="">2</li>
                         <li data-target="#text-carousel" data-slide-to="2" class="">3</li>
                         <li data-target="#text-carousel" data-slide-to="3" class="">4</li>
                         <li data-target="#text-carousel" data-slide-to="4" class="">5</li>
                         <li data-target="#text-carousel" data-slide-to="5" class="">6</li>
                         <li data-target="#text-carousel" data-slide-to="6" class="">7</li>
                         <li data-target="#text-carousel" data-slide-to="7" class="">8</li>
                         <li data-target="#text-carousel" data-slide-to="8" class="">9</li>
                         <li data-target="#text-carousel" data-slide-to="9" class="">10</li>
                         <li data-target="#text-carousel" data-slide-to="10" class="">11</li>
                         <li data-target="#text-carousel" data-slide-to="11" class="">12</li>
                         <li data-target="#text-carousel" data-slide-to="12" class="">13</li>
                         <li data-target="#text-carousel" data-slide-to="13" class="">14</li>
                         <li data-target="#text-carousel" data-slide-to="14" class="">15</li>
                       </ol>
         </div>
 </div>



 <div class="row" id="row-home-contact">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="homeContact home-contact">
        <h2>			GET NIDARA FOR YOUR SCHOOL.
     </h2>
             <div class="get-now-form" id="notify-me">
           <div class="h-link-button">
             <a href="/contact-us" id="go-to-pricing"><button>CONTACT US</button></a>
             </div>
       </div>
    </div>
 </div>
 </div>

  </div>


