#home-page-banner {
    background-image: url(./../../../assets/web_img/bg.png);
  }
  #text-carousel {
    font-family: 'GillSansStd-Light';
    color: #333333;
    margin: 60px 0px 0px 0px;
}
.homeContact {
  text-align: center;
  font-size: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
.home-contact {
  margin-top: 0px;
}

#find-out{
  cursor: pointer;
}
#find-out:hover{
  color: #83d0c9;
}
