<div class="container">
    <div class="row dashboard">You Are Here</div>
    
   
    <div class="form-fields">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 id="requestpassword">REQUEST FOR NEW PASSWORD</h2>
            <p id="resetpassword">Fill in your email below to request a new password. An email will be sent to the address below containing a link to verify your email address.</p>
        </div>
    </div>
        
    <div *ngIf="_response.status"  [ngClass]="_response.alert">{{_response.message}}</div>
  <form #forgotpasswordForm="ngForm" (ngSubmit)="forgotpasswordFormSubmit(forgotpasswordForm)">
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12">
            <label>Email <span style="color: red">*</span></label></div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">   
            <input type="text"name="username" [(ngModel)]="formData.username"  #username="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        
             <span *ngIf="username.invalid && (username.dirty || username.touched)" >
                <span *ngIf="username.errors.pattern" class="bg-danger text-white error">
                  Please enter valid email.
                </span>
                <span *ngIf="username.errors.required" class="bg-danger text-white error">
                  Email field is required.
                </span>
                

              </span>
              
        
        
        </div>        
    </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-12"></div> 
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <input type="submit" class="btn-forgot" [disabled]="!forgotpasswordForm.form.valid" name="send" value="SEND"  id="newpassword">
            </div>
        </div>
        </form>
 </div>
   
</div>